{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/ajouterMateriel.css') }}">
{% endblock %}
{% block content %}
<a id="btn-back" href="{{ url_for('consulter_utilisateur') }}">retour</a>
<div class="ajouterMateriel-container">
    <form class="form-ajoutMateriel" role="form" method="POST" action="{{ url_for('ajouter_materiel') }}">
        {{ AjouterMaterielForm.hidden_tag() }}

        <div class="left-side-info">

            <div class="user-box domaine-container">
                <p>Domaine : </p>
                <div>{{ AjouterMaterielForm.domaine(size=auto, class_="comboBox dom-select") }}</div>
            </div>

            <div class="user-box categorie-container">
                <p>Catégorie : </p>
                <div>{{ AjouterMaterielForm.categorie(size=auto, class_="comboBox cat-select") }}</div>
            </div>

            <div class="pair-info">
                <div class="user-box name-container">
                    <p>Nom : </p>
                    <div>{{ AjouterMaterielForm.nom(size=40, class_="form-control element", placeholder="Nom", value=nom) }}</div>
                </div>
            </div>
        
            <div class="pair-info">
                <div class="user-box reference-container">
                    <p>Référence : </p>
                    <div>{{ AjouterMaterielForm.reference(size=15, class_="form-control element", placeholder="Rèf.", value=reference) }}</div>
                </div>
                <div class="user-box seuil-alerte-container">
                    <p>Seuil de quantité : </p>
                    <div>{{ AjouterMaterielForm.seuilalerte(size=15 , class_="form-control element", placeholder="Quantité minimale", value=seuilalerte) }}</div>
                </div>
            </div>
        
        </div>

        <div class="right-side-info">

            <div class="user-box description-container">
                <div>{{ AjouterMaterielForm.caracteristiques(size=20, class_="form-control text-area", placeholder="Caractéristiques", value=caracteristiques,cols="30", rows="10") }}</div> 
            </div>
    
            <div class="user-box infossup-container">
                <div>{{ AjouterMaterielForm.infossup(size=20, class_="form-control text-area", placeholder="Informations complémentaires, mesures de sécurité...", value=infossup,cols="30", rows="10") }}</div>
            </div>
    
            <div class="valid-container">
                <input type="submit" value="Ajouter matériel" class="element submit">
            </div>
            <!--ajouter une façon d'uploader une fds ???-->        
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const domaineSelect = document.getElementById("domaine");
        const categorieSelect = document.getElementById("categorie");

        domaineSelect.addEventListener("change", function() {
            const selectedDomaine = domaineSelect.value;
            fetch(`/get_categorie_choices?domaine_id=${selectedDomaine}`)
                .then(response => response.json())
                .then(data => {
                    categorieSelect.innerHTML = '';
                    for (const [key, value] of Object.entries(data)) {
                        const option = document.createElement("option");
                        option.value = key;
                        option.text = value;
                        categorieSelect.appendChild(option);
                    }
                })
                .catch(error => console.error(error));
        });
    });
</script>
{% endblock %}