{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/ajouterStock.css') }}">
{% endblock %}
{% block content %}
<a id="btn-back" href="{{ url_for('base') }}">retour</a>

<div class="ajouterMateriel-container">
    <div class="ajouterMateriel-content">
        <form method="POST" action="{{ url_for('recherche_materiel_existant') }}" role="search">
            <div class="search-content">
                {{ RechercherFormWithAssets.value(size=50, class_="form-control element", placeholder="chercher un matériel", id="search-bar") }}
                <div class="filters-container">
                    <div class="user-box domaine-container">
                        <label for="search_domaine">domaine : </label>
                        <div>{{ RechercherFormWithAssets.domaine(size=auto, id="search_domaine", class_="comboBox dom-select") }}</div>
                    </div>
                    <div class="user-box categorie-container">
                        <label for="search_categorie">catégorie : </label>
                        <div>{{ RechercherFormWithAssets.categorie(size=auto, id="search_categorie", class_="comboBox cat-select") }}</div>
                    </div>
                    {{ RechercherFormWithAssets.submit(value="Rechercher", class_="element submit", id="btn-search") }}
                </div>
            </div>
        </form>


        <form class="form-ajoutMateriel" role="form" method="POST" action="{{ url_for('ajouter_stock') }}">
            {{ AjouterStockForm.hidden_tag() }}                        
            <div class="main-container">

                <div class="left-side-info">
                    <div class="user-box materiel-container">
                        <label for="materiel">materiel : </label>
                        <div>
                            <select name="" id="" class="comboBox dom-select">
                                {% for item in items %}
                                    <option value="{{ item[1] }}" name="{{ item[1] }}">{{ item[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="user-box domaine-container">
                        <label for="emplacement">emplacement : </label>
                        <div>{{ AjouterStockForm.endroit(size=auto, class_="comboBox dom-select", id="emplacement") }}</div>
                    </div>

                    <div class="user-box categorie-container">
                        <label for="position">position : </label>
                        <div>{{ AjouterStockForm.position(size=auto, class_="comboBox cat-select", id="position") }}</div>
                    </div>

                    <div class="pair-info">
                        <div class="user-box date-reception-container">
                            <label for="date-start">date de réception : </label>
                            <div>{{ AjouterStockForm.date_reception(size=10, class_="form-control element", id="date-start", placeholder="Date de réception") }}</div>
                        </div>

                        <div class="user-box date-peremption-container">
                            <label for="date-end">date de péremption / étalonnage : </label>
                            <div>{{ AjouterStockForm.date_peremption(size=10, class_="form-control element", id="date-end", placeholder="Date de péremption / étalonnage") }}</div>
                        </div>
                    </div>
                
                    <div class="pair-info">
                        <div class="user-box quantite-container">
                            <label for="qt">quantité approximative : </label>
                            <div>{{ AjouterStockForm.quantite_approximative(size=10, class_="form-control element", id="qt", placeholder="Quantité Approximative", value=quantite_approximative) }}</div>
                        </div>
                    </div>
                
                </div>

                <div class="right-side-info">
                    <div class="user-box description-container">
                        <div>{{ AjouterStockForm.commentaire(size=20, class_="form-control text-area", placeholder="Commentaire", value=commentaire,cols="30", rows="10") }}</div> 
                    </div>

                    <div class="valid-container">
                        <input type="submit" value="AJOUTER AU STOCK" class="element submit">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const endroitSelect = document.getElementById("emplacement");
        const positionSelect = document.getElementById("position");

        endroitSelect.addEventListener("change", function() {
            const selectedDomaine = endroitSelect.value;
            fetch(`/get_position_choices?endroit_id=${selectedDomaine}`)
                .then(response => response.json())
                .then(data => {
                    positionSelect.innerHTML = '';
                    for (const [key, value] of Object.entries(data)) {
                        const option = document.createElement("option");
                        option.value = key;
                        option.text = value;
                        positionSelect.appendChild(option);
                    }
                })
                .catch(error => console.error(error));
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        const categorieSelect = document.getElementById("search_categorie");
        const domaineSelect = document.getElementById("search_domaine");

        domaineSelect.addEventListener("change", function() {
            const selectedDomaine = domaineSelect.value;
            fetch(`/get_categorie_choices?domaine_id=${selectedDomaine}`)
                .then(response => response.json())
                .then(data => {
                    categorieSelect.innerHTML = '';
                    for (const [key, value] of Object.entries(data)) {
                        const option = document.createElement("option");
                        option.value = key;
                        option.text = value;
                        categorieSelect.appendChild(option);
                    }
                })
                .catch(error => console.error(error));
        });
    });
</script>
{% endblock %}