{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/alertes.css') }}">
{% endblock %}
{% block content %}
<a id="btn-back" href="{{ url_for('base') }}">Retour</a>
<section>
    <div id="info">
        <img id="attention-rouge" src="../static/images/attention-rouge.png" alt="attention-rouge">
        {% if nb_alerte|int < 2 %}
            <p class="texte_rouge">{{alertes}} Alerte</p>
        {% else %}
            <p class="texte_rouge">{{alertes}} Alertes</p>
        {% endif %}
    </div>
    {% for i in range(nb_alerte) %}
    <div class="container-objet">
        <div class="container-alerte">
            {% if info_materiels[i][14] <= 2 %}
            <p class="texte_rouge">Alerte de péremption:</p>
            {% else %}
            <p class="texte_rouge">Alerte de quantité:</p>
            {% endif %}
            <p class="texte_bleu">{{info_materiels[i][4]}} -</p>
        </div>
        <a id="btn-consulter" href="{{ url_for('etat',id=info_materiels[i][1])}}">Consulter l'état ></a>
    </div>
    {%endfor%}
</section>
{% endblock %}