<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='./css/base.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='./images/favicon/apple-touch-icon') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='./images/favicon/favicon-32x32') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='./images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static',filename='./images/favicon/site.webmanifest') }}">
    {% block styles %}
    <!-- css -->
    {% endblock %}
    <title>{{ title }}</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="{{ url_for('base') }}"><img src="{{ url_for('static',filename='./images/logo-GestLab.png') }}" alt="logo GestLab"></a>
            <ul>
                <li><a href="{{ url_for('base') }}">accueil</a></li>
                {% if 'utilisateur' in session %}

                <!-- admin -->
                {% if session['utilisateur'][1] == 1 %} 
                <li><a href="{{ url_for('consulter_utilisateur') }}">consulter utilisateurs</a></li>
                <li><a href="{{ url_for('ajouter_utilisateur') }}">ajouter utilisateur</a></li>
                {% endif %}

                <!-- professeur -->
                {% if session['utilisateur'][1] == 2 %}
                <li><a href="{{ url_for('inventaire') }}">inventaire</a></li>
                <li><a href="{{ url_for('commentaire') }}">envoyer commentaire</a></li>
                {% endif %}

                <!-- laborantin -->
                {% if session['utilisateur'][1] == 3 %}
                <li><a href="{{ url_for('demander') }}">demander</a></li>
                <li><a href="{{ url_for('inventaire') }}">inventaire</a></li>
                <li><a href="{{ url_for('ajouter_stock') }}">ajouter au stock</a></li>
                <li><a href="{{ url_for('csv') }}">csv</a></li>
                <li><a href="{{ url_for('alertes') }}">alertes</a></li>
                {% endif %}

                <!-- gestionnaire -->
                {% if session['utilisateur'][1] == 4 %}
                <li><a href="{{ url_for('consulter_bon_commande') }}">consulter bon de commande</a></li>
                <li><a href="{{ url_for('commander') }}">commander</a></li>
                <li><a href="{{ url_for('inventaire') }}">inventaire</a></li>
                <li><a href="{{ url_for('alertes') }}">alertes</a></li>
                <li><a href="{{ url_for('demandes') }}">demandes</a></li>
                {% endif %}


                {% endif %}
                <li><a class="profil" href="{{ url_for('login') }}"><img src="{{ url_for('static',filename='./images/compte.png') }}" alt="logo compte"></a></li>
                
            </ul>
        </nav>
        <div class = "sous-header"> 
            <div id="fil-ariane">
                {% for elem in chemin %}
                    <li><a href="{{ url_for(elem[0]) }}">{{ elem[1] }}</a></li>
                    <li><img src="{{ url_for('static',filename='./images/chevron.png') }}"></li>
                {% endfor %}
            </div>
            <div class="theme" onclick="toggleTheme()">
                <div class=cercle></div>
                <div class=logo>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" fill="#ff0000" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>

                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#0b0b0b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>
                </div>
            </div>
	
        </div>
        
        
        <h1 class="title">{{ title }}</h1>
        
    </header>
    <main>
        {% block content %}
        {% endblock %}
        <div class="fleche_haut">
            <a class="fleche_haut_button">
                <img src="{{  url_for('static',filename='./images/fleche-haut.png') }}" alt="fleche haut">
            </a>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-haut">
            <div class="images">
                <img src="{{ url_for('static',filename='./images/republique_francaise.png') }}" alt="république française" id="republique_francaise_banner">
                <img src="{{ url_for('static',filename='./images/Logo_Academie-Orleans-Tours.png') }}" alt="" id="academie_orleans_tours">
            </div>
            {% if 'utilisateur' in session %}
            <div class="plan-du-site">
                <h4>plan du site : </h4>
                <!-- Admin -->
                {% if session['utilisateur'][1] == 1 %}
                <ul>
                    <li><a href="{{ url_for('consulter_utilisateur') }}">consulter utilisateur</a></li>
                    <li><a href="{{ url_for('ajouter_utilisateur') }}">ajouter utilisateur</a></li>
                </ul>
                {% endif %}
                
                <!-- Professeur -->
                {% if session['utilisateur'][1] == 2 %}
                <ul>
                    <li><a href="{{ url_for('inventaire') }}, target=_blank">inventaire</a></li>
                    <li><a href="{{ url_for('commentaire') }}">commentaire</a></li>
                </ul>
                {% endif %}

                <!-- Laborantin -->
                {% if session['utilisateur'][1] == 3 %}
                <ul>
                    <li><a href="{{ url_for('demander') }}">demander</a></li>
                    <li><a href="{{ url_for('inventaire') }}">inventaire</a></li>
                    <li><a href="{{ url_for('ajouter_stock') }}">ajouter au stock</a></li>
                    <li><a href="{{ url_for('alertes') }}">alertes</a></li>
                </ul>
                {% endif %}

                <!-- Gestionnaire -->
                {% if session['utilisateur'][1] == 4 %}
                <ul>
                    <li><a href="{{ url_for('consulter_bon_commande') }}">consulter bon de commande</a></li>
                    <li><a href="{{ url_for('commander') }}">commander</a></li>
                    <li><a href="{{ url_for('inventaire') }}">inventaire</a></li>
                    <li><a href="{{ url_for('alertes') }}">alertes</a></li>
                    <li><a href="{{ url_for('demandes') }}">demandes</a></li>
                </ul>
                {% endif %}
            </div>
            {% endif %}
            <div class="utilitaires">
                <h4>utilitaires : </h3>
                <ul>
                    <li><a target="_blank" href="https://www.legtfrancoisvillon.fr/v3/">Lycée François Villon</a></li>                    
                    <li><a target="_blank" href="https://ent.netocentre.fr/cas/login?service=https://lycees.netocentre.fr/portail/Login%3FrefUrl%3D%2Fportail%2Ff%2Faccueil%2Fnormal%2Frender.uP&token=020e78251cdefbdfe0365d73cad6a32e">ENT</a></li>                    
                </ul>
            </div>

            <div class="workers">
                <h4>réalisé par : </h3>
                <ul>
                    <li>BLANDEAU ERWAN</li>
                    <li>LALLIER ANNA</li>
                    <li>LAVENANT JORDAN</li>
                    <li>LUCIDOR LEO</li>
                    <li>PILET COLIN</li>
                </ul>
            </div>
        </div>
        <div class="footer-bas">
            <p>© 2023 - gestlab - tous droits réservés</p>
        </div>
    </footer>
    <script src="{{ url_for('static',filename='./js/flecheRemonter.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='./js/theme.js') }}"></script>
    {% block scripts %}
        <!-- Optional JavaScript -->
    {% endblock %}
</body>
</html>