{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/bonDeCommande.css') }}">
{% endblock %}
{% block content %}
{% if longueur > 0 %}
<div class="container-valider">
    <a id="btn-valider" href="/valider-bon-commande/{{ idUser }}?idCommande={{ id }}">valider la commande</a>
</div>
{% for item in liste_materiel %}
<section class="section-contenu">
    <div id="info">
        <p class="texte_blanc">{{ item[2] }}</p>
        <div class="container-qte">
            <p class="texte_blanc"> Quantité :</p>
            <!-- <button class="bouton-moins">-</button> -->
            <p class="nb-choisit">{{ item[7] }}</p>
            <!-- <button class="bouton-plus">+</button> -->
        </div>
    </div>
    <a id="btn-voir" href="{{ url_for('delete_materiel', idMat=item[0], idbc=item[6]) }}">supprimer</a>
</section>
{%endfor%}
<div class="popup" id="myPopup">
    <div class="popup-content">
        <h2>Confirmation</h2>
        <p>Votre bon de commande a bien été envoyé !</p>
        <p>Veuillez télécharger le pdf ci dessous</p>
        <div class="container-pdf">
            <a class="btn-retour-popup" href="{{ url_for('base') }}">Retour accueil</a>
            <a href="{{ url_for('download_pdf_bon_commande') }}"><button id="btn-pdf">Télécharger PDF</button></a>
        </div>
    </div>
</div>
{% else %}
<a id="btn-back" href="{{ url_for('commander') }}">RETOUR</a>
<p class="p-rien">vous n'avez aucun materiel a commander</p>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='./js/ajusterVal.js') }}"></script>
<script src="{{ url_for('static', filename='./js/popup.js') }}"></script>
{% endblock %}