{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/commander.css') }}">
{% endblock %}
{% block content %}
<div class="commander-container-overall">
    <div class="header-container">
        <div class="container-top">
            <a class="lien-item" href="{{ url_for('base') }}"><button id="btn-retour">retour</button></a>
            <div class="container-alertes-demandes">
                <section class="section-alertes">
                    {% if alertes|int > 0 %}
                        <img src="../static/images/attention-rouge.png" alt="logo alertes">
                        {% if alertes|int == 1 %}
                        <p>{{ alertes }} Alerte</p>
                        {% else %}
                        <p>{{ alertes }} Alertes</p>
                        {% endif %}
                        <a href="{{ url_for('alertes') }}">Consulter les alertes ></a>
                    {% endif %}
                </section>
                <section class="section-demandes">
                    {% if demandes|int > 0 %}
                        <img src="../static/images/attention-orange.png" alt="logo demandes">
                        {% if demandes|int == 1 %}
                        <p>{{ demandes }} Demande</p>
                        {% else %}
                        <p>{{ demandes }} Demandes</p>
                        {% endif %}
                        <a href="{{ url_for('demandes') }}">Consulter les demandes ></a>
                    {% endif %}
                </section>
            </div>
            <a class="lien-item" href="{{ url_for('bon_commande', id=idbc) }}"><button id="btn-retour">Voir le bon de commande</button></a>
        </div>
        <form method="POST" action="{{ url_for('recherche_materiel') }}" role="search">
            <div class="search-content">
                {{ RechercherForm.value(size=50, class_="form-control element", placeholder="Chercher un matériel", id="search-bar") }}
                <button id="btn-search" type="submit">Rechercher</button>
            </div>
        </form>
        <div class="filter-container">
            <div class="filter-sous-container">
                <p>trier par : </p>
                <form class="{{ nbMateriel }}" id="formulaire-trie-domaine" action="/traiter" method="post">
                    <select name="cat" id="domaine-select">
                        <option value="aucun-tri">aucun tri</option>
                        {% for domaine in categories %}
                            <option value="{{ domaine[1] }}" name="{{ domaine[1] }}">{{ domaine[1] }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <a href="{{ url_for('reinitialiser_bon_commande', id=idUser) }}"><button id="btn-reset">réinitialiser le bon de commande</button></a>
        </div>
    </div>
    <div class="container-contenu">
        {% for item in liste_materiel %}
            <section class="section-contenu" id="{{ item[6] }}">
                <h3>{{ item[1] }} - {{ item[3] }}</h3>
                <h4>{{ item[2] }}</h4>
                <h4>{{ item[5] }}</h4>
                <div class="bottom-side">
                    <div class="choisir-item">
                        <button class="bouton-moins">-</button>
                        <p class="nb-choisit">{{ item[4] }}</p>
                        <button class="bouton-plus">+</button>
                    </div>
                    <a class="{{ item[0] }} {{ item[4] }}" href="#"><button class="ajouter-commande" id="ajouter-commande">ajouter à la commande</button></a>
                </div>
                <script>
                    var maVariableJavaScript = "{{ item[4] }}"; 
                    var idUser = "{{ idUser }}"; 
                </script>
            </section>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='./js/ajusterValCommander.js') }}"></script>
<script src="{{ url_for('static', filename='./js/trieDomaine.js') }}"></script>
{% endblock %}
