{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/consulterUtilisateur.css') }}">
{% endblock %}
{% block content %}
<div class="utilisateur-container-overall">
    <div class="header-container">
        <a href="{{ url_for('base') }}"><button id="btn-retour">retour</button></a>
            <form method="POST" action="{{ url_for('recherche_utilisateur') }}" role="search">
                <div class="search-content">
                    {{ RechercherForm.value(size=50, class_="form-control element", placeholder="Chercher un utilisateur") }}
                    <button id="btn-search" type="submit">RECHERCHER</button>
                </div>
            </form>
        <div class="filter-container">
            <p>trier par : </p>
            <form id="formulaire-comboBox" action="{{ url_for('consulter_utilisateur') }}" method="post">
                <select name="cat" id="categorie-select" class="{{ nbUser }}">
                    {% for categorie in categories %}
                        <option value="{{ categorie }}" name="{{ categorie }}">{{ categorie }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    <div class="container-info-utilisateur">
        <div class="professeur">
            <h1>Professeurs</h1>
            <div class="scroll_info_utilisateur">
                {% for professeur in professeurs %}
                    <section id="{{ professeur[0] }}" class="sous-container-info-utilisateur">
                        <p>{{ professeur[2] }} {{ professeur[3] }}</p>
                        <div class="container-modification">
                            <a href="{{ url_for('modifier_utilisateur', id=professeur[1]) }}"><button>modifier</button></a>
                            <a href="{{ url_for('supprimer_utilisateur', id=professeur[1]) }}"><button>supprimer</button></a>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
        <div class="laborantin">
            <h1>Laborantins</h1>
            <div class="scroll_info_utilisateur">
                {% for laborantin in laborantins %}
                    <section id="{{ laborantin[0] }}" class="sous-container-info-utilisateur">
                        <p>{{ laborantin[2] }} {{ laborantin[3] }}</p>
                        <div class="container-modification">
                            <a href="{{ url_for('modifier_utilisateur', id=laborantin[1]) }}"><button>modifier</button></a>
                            <a href="{{ url_for('supprimer_utilisateur', id=laborantin[1]) }}"><button>supprimer</button></a>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
        <div class="gestionnaire">
            <h1>Gestionnaires</h1>
            <div class="scroll_info_utilisateur">
                {% for gestionnaire in gestionnaires %}
                    <section id="{{ gestionnaire[0] }}" class="sous-container-info-utilisateur">
                        <p>{{ gestionnaire[2] }} {{ gestionnaire[3] }}</p>
                        <div class="container-modification">
                            <a href="{{ url_for('modifier_utilisateur', id=gestionnaire[1]) }}"><button>modifier</button></a>
                            <a href="{{ url_for('supprimer_utilisateur', id=gestionnaire[1]) }}"><button>supprimer</button></a>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="../static/js/comboBox.js"></script>
{% endblock %}
