{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/consulterBonCommande.css') }}">
{% endblock %}
{% block content %}
<a id="btn-back" href="{{ url_for('base') }}">Retour</a>
<section class="info">
    {% for i in range(0, len) %}
    <div class="info-bon">
        <p class="info-user para">{{infoUser[i][0]}} {{infoUser[i][1]}}</p>
        <p class="para">date</p>
        <select name="" id="statut">
            <option value="">En cours de traitement</option>
            <option value="">Expediée</option>
            <option value="">Validé</option>
        </select>
        <a class="btn-consulter" href="/historique-bon-commande?idbc={{ bonCommande[i][0] }}">Consulter le bon ></a>
    </div>
    {% endfor %}
</section>
{% endblock %}