{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/demander.css') }}">
{% endblock %}
{% block content %}
<div class="container-top">
    <a class="lien-item" href="{{ url_for('base') }}"><button id="btn-back">RETOUR</button></a>
    <a href="#"><button id="btns">VALIDER LA COMMANDE</button></a>
</div>
<div class="demander-container-overall">
    <div class="header-container">
        <div class="search-content">
            <input type="text" id="search-bar" placeholder="Chercher un matériel">
            <button id="btn-search">RECHERCHER</button>
        </div>
        <div class="filter-container">
            <div class="filter-sous-container">
                <p>trier par : </p>
                <form action="/traiter" method="post">
                    <select name="cat" id="categorie-select">
                        <option value="aucun-tri">aucun tri</option>
                        {% for categorie in categories %}
                            <option value="{{ categorie[1] }}" name="{{ categorie[1] }}">{{ categorie[1] }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <a href="#"><button id="btns">RÉNITIALISER LA DEMANDE</button></a>
        </div>
    </div>
    <div class="ajouter-materiel-container">
        <a href="{{ url_for('ajouter_materiel') }}"><button id="btns">AJOUTER SUGGESTION</button></a>
    </div>
    <div class="container-contenu">
        {% for item,count in liste_materiel[0] %}
            <section class="section-contenu">
                <h3>{{ item[1] }} - {{ item[11] }}</h3>
                <h4>{{ item[13] }}</h4> 
                <h4>{{ item[14] }}</h4>
                <div class="bottom-side">
                    <div class="choisir-item">
                        <button class="bouton-moins">-</button>
                        <p class="nb-choisit">{{ item[-1] }}</p>
                        <button class="bouton-plus">+</button>
                    </div>
                    <a class="{{ item[0] }} {{ item[-1] }}" href="#"><button class="ajouter-demande" id="ajouter-demande">ajouter à la demande</button></a>
                </div>
                <script>
                    var maVariableJavaScript = "{{ item[4] }}"; 
                    var idUser = "{{ idUser }}"; 
                </script>
            </section>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='./js/ajusterValDemander.js') }}"></script>
{% endblock %}