{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/demandes.css') }}">
{% endblock %}
{% block content %}
<a id="btn-back" href="{{ url_for('base') }}">Retour</a>
<section>
        <div id="info">
            <img id="attention-orange" src="../static/images/attention-orange.png" alt="attention-orange">
            {% if nb_demande|int < 2 %}
                <p class="texte_orange">{{nb_demande}} Demande</p>
            {% else %}
                <p class="texte_orange">{{nb_demande}} Demandes</p>
            {% endif %}
        </div>
        {% for i in range(nb_demande) %}
        <div class="container-demande">
            <p class="texte_bleu">{{info_demande[i][1]}} {{info_demande[i][2]}}</p>
            <a id="btn-consulter" href="{{ url_for('demande',idDemande=info_demande[i][0] ) }}">Consulter la demande ></a>
        </div>
        {%endfor%}
</section>
{% endblock %}