{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/demandes.css') }}">
{% endblock %}
{% block content %}
    <section>
        <div id="info">
            <img id="attention-orange" src="../static/images/attention-orange.png" alt="attention-orange">
            <p class="texte_orange">{{nb_demande}} Demande</p>
        </div>
        {% for i in range(nb_demande) %}
        <div class="container-demande">
            <p class="texte_bleu">{{info_demande[i][1]}} {{info_demande[i][2]}}</p>
            <p><a href="{{ url_for('bonDeCommande',idDemande=info_demande[i][0] ) }}">Consulter la demande ></a></p>
        </div>
        {%endfor%}
    </section>
{% endblock %}