{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/etat.css') }}">
{% endblock %}
{% block content %}
<div class="container-all">
    <div class="container-left">
        <div class="recap-item">
            <div class="text">
                {{ item_properties[1] }}
            </div>
            <div class="text">
                <p>Domaine : </p>
                <p>{{ item_properties[5] }}</p>
            </div>
            <div class="text">
                <p>Catégorie : </p>
                <p>{{ item_properties[3] }}</p>
            </div>
            <div class="text">
                <p>Quantité : </p>
                <p>{{ items_unique[1] }}</p>
            </div>
            <div class="text">
                <p>Seuil alerte : </p>
                <p>{{ item_properties[-4] }}</p>
            </div>
            <div class="text">
                <p>Caractéristiques complémentaires : </p>
                <p>{{ item_properties[-3] }}</p>
            </div>
            <div class="text">
                <p>Informations complémentaires et sécurité : </p>
                <p>{{ item_properties[-2] }}</p>
            </div>
        </div>
    </div>

    <div class="container-middle">
        <div class="btns-header">
            <a id="btn-back" href="{{ url_for('inventaire') }}">Retour</a>
            <a id="btn-edit-materiel" href="{{ url_for('modifier_materiel', id=item_properties[0]) }}">Modifier</a>
            <a id="btn-edit-materiel" href="{{ url_for('ajouter_materiel_unique', id=item_properties[0]) }}">Ajouter</a>
            <a id="btn-edit-materiel" href="{{ url_for('supprimer_materiels_uniques', id=item_properties[0]) }}">Supprimer tous les éléments relatifs à cet objet du stock</a>
        </div>
    </div>

    <div class="container-right">
        <div class="state-container">
            {% for item in items_unique[0] %}
                <div class="item-card" id="{{ item[3] }}">
                    {% if items_unique[1] > 1 %}
                    <script>
                        function toggleContent(button,id) {
                            var element = document.getElementById("item_properties_" + id);
                            var chevron = button.children[0];
                            console.log(chevron);
                            element.classList.toggle("collapsed");
                            chevron.classList.toggle("rotate");
                        }
                    </script>

                    <style>
                        /* Ajoutez du style pour masquer initialement le contenu */
                        .item-properties {
                            display: none;
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height 0.3s ease-out;
                        }
                        
                        /* Ajoutez une classe "collapsed" pour masquer le contenu */
                        .item-properties.collapsed {
                            display: inline-block;
                            max-height: none; /* Permet à la transition de calculer la hauteur du contenu */
                        }
                    </style>
                    <div class="toggle-button-container">
                        <button class="toggle-button" onclick="toggleContent(this,'{{ item[3] }}')">
                            <img 
                                src="{{ url_for('static',filename='./images/down-chevron.png') }}"
                                alt="down-chevron"
                                id="down-chevron"
                                width="30"
                                height="30"
                            />
                        </button>
                        <p class="date-reception-toggle">{{ item[5] }}</p>
                    </div>
                    {% endif %}
                    <div class="item-properties" id="item_properties_{{ item[3] }}">
                        <div class="header-container">
                            <a href="/commentaire?materiel={{ item_properties[1] }}"><img src="{{ url_for('static',filename='./images/flag.png') }}" alt="report-redirect" id="report-redirect-img"></a>
                        </div>
                        <div class="date-reception">
                            <p class="date-reception-label">Date de réception : </p>
                            <p class="date-reception-content">{{ item[5] }}</p>
                        </div>
                        <div class="date-peremption">
                            <p class="date-peremption-label">Date de péremption : </p>
                            {% if item[1] == 3 %}
                                <p class="date-peremption-content">{{ item[8] }}</p>
                            {% endif %}
                            {% if item[1] == 5 %}
                                <p class="date-peremption-content">{{ item[8] }}</p>
                            {% else %}
                                <p class="date-peremption-content">-</p>
                            {% endif %}
                        </div>
                        <div class="quantite-container">
                            <p class="quantite-label">Quantité approx.: </p>
                            {% if item[1] == 5 %}
                                <p class="quantite-content">{{ item[7] }} L</p>
                            {% else %}
                                <p class="quantite-content">-</p>
                            {% endif %}
                        </div>
                        <div class="comment-container">
                            <p class="comment-label">Commentaire : </p>
                            {% if item[6] != None %}
                                <p class="comment-content">{{ item[6] }}</p>
                            {% else %}
                                <p class="comment-content">-</p>
                            {% endif %}
                        </div>
                        <div class="footer-state">
                            {% if item[3] in alertes.keys() %}
                                <div class="alerts-state">
                                    <img id="attention-rouge" src="{{ url_for('static',filename='./images/attention-rouge.png') }}" alt="attention-rouge">
                                    <div class="alerts-statement">
                                        <p class="{{ alertes[item[0]] }} alerts_count" id="alerts_count_{{ item[3] }}">{{ alertes[item[3]] }}</p>
                                        {% if alertes[item[3]] > 1 %}
                                            <p class="texte_rouge">Alertes</p>
                                        {% else %}
                                            <p class="texte_rouge">Alerte</p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <div></div>
                            {% endif %}
                        </div>
                        <div class="btns">
                            {% if session['utilisateur'][1] == 4 %}
                                <a id="btn-redirect-order" href="#">Commander</a>
                                <a id="btn-redirect-order" href="{{ url_for('modifier_materiel_unique', id=item[3]) }}">Modifier</a>
                                <a id="btn-redirect-order" href="{{ url_for('supprimer_materiel_unique', id=item[3]) }}">Supprimer</a>
                            {% endif %}
                            {% if session['utilisateur'][1] == 3 %}
                                <a id="btn-redirect-order" href="{{ url_for('modifier_materiel_unique', id=item[3]) }}">Modifier</a>
                                <a id="btn-redirect-order" href="{{ url_for('supprimer_materiel_unique', id=item[3]) }}">Supprimer</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='./js/etat.js') }}"></script>
{% endblock %}
