{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/exporterCsv.css') }}">
{% endblock %}
{% block content %}
<a id="btn-back" href="{{ url_for('csv') }}">retour</a>

<div class="ajouterMateriel-container">
    <div class="ajouterMateriel-content">
        <form class="form-importCsv" role="form" method="POST" enctype="multipart/form-data" action="{{ url_for('exporter_csv') }}">
            {{ ExporterCsvForm.hidden_tag() }}                        
            <div class="main-container">
                <p class="titre-container">Choisir les tables à exporter :</p>
                {% for table in ExporterCsvForm.liste_tables %}
                    <div class="checkbox-container">
                        <p>{{ table }}</p>
                        {{ ExporterCsvForm[table](class="custom-checkbox") }}
                    </div>
                {% endfor %}
            </div>
                <div class="container-submit">{{ ExporterCsvForm.submit() }}</div>
        </form>
    </div>
</div>
{% endblock %}