{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/exporterCsv.css') }}">
{% endblock %}
{% block content %}

<div class="btn-container">
    <a id="btn-back" href="{{ url_for('csv') }}">RETOUR</a>
    <button id="checkAllButton">TOUT COCHER</button>
    <button id="uncheckAllButton" style="display: none;">TOUT DÉCOCHER</button>
</div>


<div class="ajouterMateriel-container">
    <div class="ajouterMateriel-content">
        <form class="form-importCsv" role="form" method="POST" enctype="multipart/form-data" action="{{ url_for('exporter_csv') }}">
            {{ ExporterCsvForm.hidden_tag() }}                        
            <div class="main-container">
                <p class="titre-container">Choisir les tables à exporter :</p>
                {% for table in ExporterCsvForm.liste_tables %}
                    <div class="checkbox-container">
                        <p>{{ table }}</p>
                        {{ ExporterCsvForm[table](class="custom-checkbox") }}
                    </div>
                {% endfor %}
            </div>
                <div class="container-submit">{{ ExporterCsvForm.submit() }}</div>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkAllButton = document.getElementById('checkAllButton');
        const uncheckAllButton = document.getElementById('uncheckAllButton');
        var checkboxes = document.querySelectorAll('.custom-checkbox');
        
        checkAllButton.addEventListener('click', function() {
            
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = true;
            }
            checkAllButton.style.display = 'none';
            uncheckAllButton.style.display = 'block';
        });

        uncheckAllButton.addEventListener('click', function() {
            var checkboxes = document.querySelectorAll('.custom-checkbox');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = false;
            }
            checkAllButton.style.display = 'block';
            uncheckAllButton.style.display = 'none';
        });

        // Fonction pour vérifier si toutes les cases sont cochées
        function allChecked() {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (!checkboxes[i].checked) {
                        return false;
                    }
                }
                return true;
            }

            // Ajoute un écouteur d'événements à chaque case
            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    if (allChecked()) {
                        document.getElementById('uncheckAllButton').style.display = 'block';
                        document.getElementById('checkAllButton').style.display = 'none';
                    } else {
                        document.getElementById('uncheckAllButton').style.display = 'none';
                        document.getElementById('checkAllButton').style.display = 'block';
                    }
                });
            });
    });
</script>
{% endblock %}