{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/historiqueBonCommande.css') }}">
{% endblock %}
{% block content %}
<a id="btn-back" href="{{ url_for('consulter_bon_commande') }}">RETOUR</a>
<section class="historiques-bons-container">
    <table>
        <thead>
            <tr>
                <th>auteur</th>
                <th>date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0, len) %}
            <tr onclick="document.location='/bon-commande-unique?idbc={{ bonCommande[i][0] }}'" class="info-bon">
                <td class="info-user para">{{infoUser[i][0]}} {{infoUser[i][1]}}</td>
                <td class="info-date para">{{bonCommande[i][3]}}</td>
                <td>
                    <div class="suppr-bon-container" onclick="deleteBonCommande('{{ bonCommande[i][0] }}')">
                        <p>SUPPRIMER</p>
                        <svg onclick="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: ;transform: ;msFilter:;"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<script>
    function deleteBonCommande(idbc) {
        event.stopPropagation();
        console.log(idbc);
        document.location=`/delete-bon-commande/${idbc}`;
    }
</script>
{% endblock %}