{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/bonDeCommande.css') }}">
{% endblock %}
{% block content %}
<div class="container-valider">
    <a id="btn-valider" href="#">Generer le bon de commande</a>
</div>
{% for item in liste_materiel %}
<section class="section-contenu">
    <div id="info">
        <p class="texte_blanc">{{ item[2] }}</p>
        <div class="container-qte">
            <p class="texte_blanc"> Quantité :</p>
            <p class="nb-choisit">{{ item[4] }}</p>
        </div>
    </div>
</section>
{%endfor%}
{% endblock %}
{% block scripts %}
{% endblock %}