{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/consulterBonCommande.css') }}">
{% endblock %}
{% block content %}
<div class="btns-header">
    <a id="btn-back" href="{{ url_for('consulter_bon_commande') }}">Retour</a>
</div>
<section class="info">
    {% for i in range(0, len) %}
    <div class="info-bon">
        <p class="info-user para">{{infoUser[i][0]}} {{infoUser[i][1]}}</p>
        <p class="info-date para">Date : {{bonCommande[i][3]}}</p>
        <a id="suppr-bon" href="{{ url_for('delete_bon_commande', id=bonCommande[i][0]) }}">Supprimer</a>
        <a class="btn-consulter" href="/bon-commande-unique?idbc={{ bonCommande[i][0] }}">Consulter le bon ></a>
    </div>
    {% endfor %}
</section>
{% endblock %}