{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/home.css') }}">
{% endblock %}
{% block content %}
    {% if 'utilisateur' in session %}
    <h2 class="sous-title">Bienvenue  {{ session['utilisateur'][0] }} !</h2>
    {% else %}
    <h2 class="sous-title">Bienvenue !</h2>
    <a id="container-bouton-connexion" href="{{ url_for('login') }}"><button id="btn-connexion">Se Connecter</button></a>
    {% endif %}
{% endblock %}
