{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/home.css') }}">
{% endblock %}
{% block content %}
    <!-- si l'utilisateur est connecter -->
    {% if 'utilisateur' in session %}
    <div class="container-main">
        
        <!-- sous titre -->
        <h2 class="sous-title">bienvenue  {{ session['utilisateur'][0] }} {{ session['utilisateur'][3] }} !</h2>

        <!-- admin -->
        {% if session['utilisateur'][1] == 1 %}

        <a href="{{ url_for('consulter_utilisateur') }}">
            <section class="carte-lien">
                <h2>CONSULTER UTILISATEUR</h2>
                <p>gestion utilisateur</p>
            </section>
        </a>
        <a href="{{ url_for('ajouter_utilisateur') }}">
            <section class="carte-lien">
                <h2>AJOUTER UN UTILISATEUR</h2>
            </section>
        {% endif %}

        <!-- professeur -->
        {% if session['utilisateur'][1] == 2 %}

        <a href="{{ url_for('inventaire') }}">
            <section class="carte-lien">
                <h2>INVENTAIRE</h2>
                <p>consulter</p>
            </section>
        </a>
        <a href="{{ url_for('commentaire') }}">
            <section class="carte-lien">
                <h2>ENVOYER UN COMMENTAIRE</h2>
                <p>aux gestionnaires</p>
            </section>
        </a>
        {% endif %}

        <!-- laborantin -->
        {% if session['utilisateur'][1] == 3 %}
        <div class="container-alertes-demandes">
            <section class="section-alertes">
                {% if alertes|int > 0 %}
                    <img src="../static/images/attention-rouge.png" alt="logo alertes">
                    {% if alertes|int == 1 %}
                    <p>{{ alertes }} Alerte</p>
                    {% else %}
                    <p>{{ alertes }} Alertes</p>
                    {% endif %}
                    <a href="{{ url_for('alertes') }}">Consulter les alertes ></a>
                {% endif %}
            </section>
        </div>

        <a href="{{ url_for('demander') }}">
            <section class="carte-lien">
                <h2>DEMANDER</h2>
                <p>matériel</p>
            </section>
        </a>
        <a href="{{ url_for('inventaire') }}">
            <section class="carte-lien">
                <h2>INVENTAIRE</h2>
                <p>consulter</p>
            </section>
        </a>
        <a href="{{ url_for('ajouter_stock') }}">
            <section class="carte-lien">
                <h2>AJOUTER</h2>
                <p>stock</p>
            </section>
        </a>
        <a href="{{ url_for('alertes') }}">
            <section class="carte-lien">
                <h2>ALERTES</h2>
                <p>consulter les alertes</p>
            </section>
        </a>
        {% endif %}

        <!-- gestionnaire -->
        {% if session['utilisateur'][1] == 4 %}
        <div class="container-alertes-demandes">
            <section class="section-alertes">
                {% if alertes|int > 0 %}
                    <img src="../static/images/attention-rouge.png" alt="logo alertes">
                    {% if alertes|int == 1 %}
                    <p>{{ alertes }} Alerte</p>
                    {% else %}
                    <p>{{ alertes }} Alertes</p>
                    {% endif %}
                    <a href="{{ url_for('alertes') }}">Consulter les alertes ></a>
                {% endif %}
            </section>
            <section class="section-demandes">
                {% if demandes|int > 0 %}
                    <img src="../static/images/attention-orange.png" alt="logo demandes">
                    {% if demandes|int == 1 %}
                    <p>{{ demandes }} Demande</p>
                    {% else %}
                    <p>{{ demandes }} Demandes</p>
                    {% endif %}
                    <a href="{{ url_for('demandes') }}">Consulter les demandes ></a>
                {% endif %}
            </section>
        </div>

        <a href="{{ url_for('commander') }}">
            <section class="carte-lien">
                <h2>COMMANDER</h2>
                <p>matériel</p>
            </section>
        </a>
        <a href="{{ url_for('alertes') }}">
            <section class="carte-lien">
                <h2>ALERTES</h2>
                <p>consulter les alertes</p>
            </section>
        </a>
        <a href="{{ url_for('inventaire') }}">
            <section class="carte-lien">
                <h2>INVENTAIRE</h2>
                <p>consulter l'inventaire</p>
            </section>
        </a>
        <a href="{{ url_for('demandes') }}">
            <section class="carte-lien">
                <h2>DEMANDES</h2>
                <p>consulter les demandes</p>
            </section>
        </a>
        <a href="{{ url_for('consulter_bon_commande') }}">
            <section class="carte-lien">
                <h2>BON DE COMMANDE</h2>
                <p>consulter bon commande</p>
            </section>
        {% endif %}
    </div>
    
    <!-- si l'utilisateur n'est pas connecter -->
    {% else %}
    <h2 class="sous-title">Bienvenue !</h2>
    <a id="container-bouton-connexion" href="{{ url_for('login') }}"><button id="btn-connexion">se connecter</button></a>
    {% endif %}
{% endblock %}
