{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/importerCSV.css') }}">
{% endblock %}
{% block content %}
<a id="btn-back" href="{{ url_for('csv') }}">retour</a>

<div class="ajouterMateriel-container">
    <div class="ajouterMateriel-content">
        <form class="form-importCsv" role="form" method="POST" enctype="multipart/form-data" action="{{ url_for('importer_csv') }}">
            {{ ImporterCsvForm.hidden_tag() }}                        
            <div class="main-container">
                <!-- add the RadioField bd_option-->
                <div class="user-box">
                    <div>
                        {{ ImporterCsvForm.bd_option.label(class_="form-check-label") }}
                        {{ ImporterCsvForm.bd_option(class_="form-check-input") }}
                    </div>
                    <div>
                        <p>importer un fichier CSV : </p>
                        {{ ImporterCsvForm.fichier(size=10, class_="form-control element", placeholder="Fichier CSV") }}
                    </div>
                    <div>{{ ImporterCsvForm.submit(class_="btn btn-primary") }}</div>
                </div>
            </div>
            
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const endroitSelect = document.getElementById("emplacement");
        const positionSelect = document.getElementById("position");

        endroitSelect.addEventListener("change", function() {
            const selectedDomaine = endroitSelect.value;
            fetch(`/get_position_choices?endroit_id=${selectedDomaine}`)
                .then(response => response.json())
                .then(data => {
                    positionSelect.innerHTML = '';
                    for (const [key, value] of Object.entries(data)) {
                        const option = document.createElement("option");
                        option.value = key;
                        option.text = value;
                        positionSelect.appendChild(option);
                    }
                })
                .catch(error => console.error(error));
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        const categorieSelect = document.getElementById("search_categorie");
        const domaineSelect = document.getElementById("search_domaine");

        domaineSelect.addEventListener("change", function() {
            const selectedDomaine = domaineSelect.value;
            fetch(`/get_categorie_choices?domaine_id=${selectedDomaine}`)
                .then(response => response.json())
                .then(data => {
                    categorieSelect.innerHTML = '';
                    for (const [key, value] of Object.entries(data)) {
                        const option = document.createElement("option");
                        option.value = key;
                        option.text = value;
                        categorieSelect.appendChild(option);
                    }
                })
                .catch(error => console.error(error));
        });
    });
</script>
{% endblock %}