{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/inventaire.css') }}">
{% endblock %}
{% block content %}
<a id="btn-back" href="{{ url_for('base') }}">retour</a>
<section class="inventaire-container-overall">
    <div class="header-container">
        <form method="POST" action="{{ url_for('recherche_inventaire') }}" role="search">
            <div class="search-content">
                {{ RechercherForm.value(size=50, class_="form-control element", placeholder="Chercher un matériel", id="search-bar") }}
                <button id="btn-search" type="submit">RECHERCHER</button>
            </div>
        </form>
        <div class="filter-container">
            <p>trier par : </p>
            <form action="/traiter" method="post" id="formulaire-trie-domaine" class="{{ nbMateriel }}">
                <select name="cat" id="domaine-select">
                    <option value="">aucun tri</option>
                    {% for domaine in categories %}
                        <option value="{{ domaine[1] }}" name="{{ domaine[1] }}">{{ domaine[1] }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>

    <div class="btns-container">
        <a class="btns" href="{{ url_for('ajouter_endroit') }}">AJOUTER UN ENDROIT</a>
        <a class="btns" href="{{ url_for('ajouter_rangement') }}">AJOUTER UN RANGEMENT</a>
    </div>

    <section class="item-container">
        <table>
            <thead>
                <tr>
                    <th>nom</th>
                    <th>quantité</th>
                    <th>état</th>
                </tr>
            </thead>
            <tbody>
                {% for (item,count) in items %}
                    <tr>
                        <td>{{ item[1] }}</td>
                        <td>{{ count }}</td>
                        <td>
                            <div>
                                {% if item[0] in alertes.keys() %}
                                    <img id="attention-rouge" src="{{ url_for('static',filename='./images/attention-rouge.png') }}" alt="attention-rouge">
                                    <p class="alerts_count">{{ alertes[item[0]] }}</p>
                                    {% if alertes[item[0]] > 1%}
                                        <p class="texte_rouge">alertes</p>
                                    {% else %}
                                        <p class="texte_rouge">alerte</p>
                                    {% endif %}
                                {% else %}
                                    <p></p>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='./js/inventaire.js') }}"></script>
<script src="{{ url_for('static', filename='./js/trieDomaine.js') }}"></script>
{% endblock %}
