{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/login.css') }}">
{% endblock %}
{% block content %}
{% if 'utilisateur' in session %}
    <!-- admin -->
    {% if session['utilisateur'][1] == 1 %}
    <p id="text-acceuil">Vous êtes connecté en tant qu'administrateur</p>
    {% endif %}

    <!-- professeur -->
    {% if session['utilisateur'][1] == 2 %}
    <p id="text-acceuil">Vous êtes connecté en tant que professeur</p>
    {% endif %}

    <!-- laborantin -->
    {% if session['utilisateur'][1] == 3 %}
    <p id="text-acceuil">Vous êtes connecté en tant que laborantin</p>
    {% endif %}

    <!-- gestionnaire -->
    {% if session['utilisateur'][1] == 4 %}
    <p id="text-acceuil">Vous êtes connecté en tant que gestionnaire</p>
    {% endif %}

    <!-- profil -->
    <div class="container-control-profil">
      <a class="a-lien" id="seDeco" href="{{ url_for('logout') }}">Se déconnecter</a>
      <a class="a-lien" id="lien-accueil" href="{{ url_for('base') }}">Retour à l'accueil</a>
      <button id="btn-changer-mdp">Changer le mot de passe</button>
      <button id="btn-changer-mail">Changer l'adresse email</button>
      <a id="btn-retour">retour</a>
      <!-- form changer mdp -->
      <div id="ChangerMDPForm">
        <div id="changerMDP-box">
          <h2 class="element">Changer le mot de passe</h2>
          <form class="form-changerMDP" role="form" method="POST" action ="{{ url_for('changerMDP') }}">
            {{ fromChangerMDP.hidden_tag() }}
            <div class="user-box">
              <div>{{ fromChangerMDP.ancienMDP(size=50, class_="form-control element", placeholder="Ancien Password") }}</div>
            </div>
            <div class="user-box">
              <div>{{ fromChangerMDP.nouveauMDP(size=50, class_="form-control element", placeholder="Nouveau Password") }}</div>
            </div>
            <div class="user-box">
              <div>{{ fromChangerMDP.confirmerMDP(size=50, class_="form-control element", placeholder="Confirmation Password") }}</div>
            </div>
            <div class="valid-container">
              <input type="submit" value="Changer le mot de passe" class="element">
            </div>
          </form>
        </div>
      </div>
      <!-- form changer mail -->
      <div id="ChangerMailForm">
        <div id="changerMail-box">
          <h2 class="element">Changer l'adresse email</h2>
          <form class="form-changerMail" role="form" method="POST" action ="{{ url_for('changerMail') }}">
            {{ fromChangerMail.hidden_tag() }}
            <div class="user-box">
              <div>{{ fromChangerMail.ancienMail(size=50, class_="form-control element", placeholder="Ancien Email") }}</div>
            </div>
            <div class="user-box">
              <div>{{ fromChangerMail.nouveauMail(size=50, class_="form-control element", placeholder="Nouveau Email") }}</div>
            </div>
            <div class="user-box">
              <div>{{ fromChangerMail.confirmerMail(size=50, class_="form-control element", placeholder="Confirmation Email") }}</div>
            </div>
            <div class="user-box">
              <div>{{ fromChangerMail.mdp(size=50, class_="form-control element", placeholder="Mot de passe actuel") }}</div>
            </div>
            <div class="valid-container">
              <input type="submit" value="Changer l'adresse email" class="element">
            </div>
          </form>
        </div>
      </div>
    </div>
{% else %}
<div id="login-container">
    <div id="login-box">
        <h2 class="element">Connexion</h2>
        <form class="form-horizontal" role="form" method="POST" action ="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
          <div class="user-box">
            {{ form.email(size=50, class_="form-control element", placeholder="Email") }}
          </div>
          <div class="user-box">
            <div>{{ form.password(size=50, class_="form-control element", placeholder="Password") }}</div>
          </div>
          <div class="valid-container">
            <input type="submit" value="Se Connecter" class="element">
          </div>
        </form>
        <div class="container-mdp-oublier">
          <button id="btn-mdp-oublier">mot de passe oublié ?</button>
        </div>
    </div>
</div>
<div id="mdp-container">
  <button id="btn-retour-mdp">retour</button>
  <div class="container-form-mdp">
    <div id="mdp-box">
      <h2 class="element">Mot de passe oublié</h2>
      <form class="form-horizontal" role="form" method="POST", action="{{ url_for('mot_de_passe_oublier') }}">
          {{ MdpOublierForm.hidden_tag() }}
        <div class="user-box">
          {{ MdpOublierForm.email(size=50, class_="form-control element", placeholder="Email") }}
        </div>
        <div class="valid-container">
          {{ MdpOublierForm.submit(size=50, class_="form-control element") }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='./js/login.js') }}"></script>
<script src="{{ url_for('static', filename='./js/mdpOublier.js') }}"></script>
{% endblock %}