{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/modifierMateriel.css') }}">
{% endblock %}
{% block content %}
<a id="btn-back" href="{{ url_for('etat',id=id) }}">RETOUR</a>
<div class="modifierMateriel-container">
    <form class="form-modifMateriel" role="form" method="POST" action="{{ url_for('modifier_materiel', id=id) }}">
        {{ AjouterMaterielForm.hidden_tag() }}

        <div class="left-side-info">
            <div class="user-box">
                <label for="domaine">domaine</label>
                <div>{{ AjouterMaterielForm.domaine(size=0, class_="comboBox element") }}</div>
            </div>
            <div class="user-box">
                <label for="categorie">catégorie</label>
                <div>{{ AjouterMaterielForm.categorie(size=0, class_="comboBox element") }}</div>
            </div>
            <div class="user-box">
                <label for="nom">nom</label>
                <div>{{ AjouterMaterielForm.nom(size=50, class_="form-control element") }}</div>
            </div>
            <div class="user-box">
                <label for="reference">référence</label>
                <div>{{ AjouterMaterielForm.reference(size=50, class_="form-control element") }}</div>
            </div>
            <div class="user-box">
                <label for="seuilalerte">seuil d'alerte quantité</label>
                <div>{{ AjouterMaterielForm.seuilalerte(size=50, class_="form-control element") }}</div>
            </div>
        </div>

        <div class="fds">
            <label>fiche de sécurité</label>
            <form method="POST" action="#">
                {{ FDSForm.hidden_tag() }}
                <div class="checkmark">
                    {% if est_comburant %}
                        {{ FDSForm.comburant(size=auto, id="comburant", value="1", checked=True) }}
                    {% else %}
                        {{ FDSForm.comburant(size=auto, id="comburant", value="1") }}
                    {% endif %}
                    <label for="comburant">
                        <img class="pictogramme" src="{{ url_for('static',filename='./images/FDS/comburant.png') }}" alt="pictogramme">
                        <p>comburant</p>
                    </label>
                </div>
                <div class="checkmark">
                    {% if estInflamable %}
                        {{ FDSForm.inflammable(size=auto, id="inflammable", value="2", checked=True) }}
                    {% else %}
                        {{ FDSForm.inflammable(size=auto, id="inflammable", value="2") }}
                    {% endif %}
                    <label for="inflammable">
                        <img class="pictogramme" src="{{ url_for('static',filename='./images/FDS/inflammable.png') }}" alt="pictogramme">
                        <p>danger incendie</p>
                    </label>
                </div>
                <div class="checkmark">
                    {% if estExplosif %}
                        {{ FDSForm.explosif(size=auto, id="explosif", value="3", checked=True) }}
                    {% else %}
                        {{ FDSForm.explosif(size=auto, id="explosif", value="3") }}
                    {% endif %}
                    <label for="explosif">
                        <img class="pictogramme" src="{{ url_for('static',filename='./images/FDS/explosion.png') }}" alt="pictogramme">
                        <p>explosif</p>
                    </label>
                </div>
                <div class="checkmark">
                    {% if est_CMR %}
                        {{ FDSForm.CMR(size=auto, id="CMR", value="4", checked=True) }}
                    {% else %}
                        {{ FDSForm.CMR(size=auto, id="CMR", value="4") }}
                    {% endif %}
                    <label for="CMR">
                        <img class="pictogramme" src="{{ url_for('static',filename='./images/FDS/CMR.png') }}" alt="pictogramme">
                        <p>effets graves sur la santé</p>
                    </label>
                </div>
                <div class="checkmark">
                    {% if est_chimique_environement %}
                        {{ FDSForm.chimique(size=auto, id="chimique", value="5", checked=True) }}
                    {% else %}
                        {{ FDSForm.chimique(size=auto, id="chimique", value="5") }}
                    {% endif %}
                    <label for="chimique">
                        <img class="pictogramme" src="{{ url_for('static',filename='./images/FDS/chimique.png') }}" alt="pictogramme">
                        <p>altération de la santé humaine</p>
                    </label>
                </div>
                <div class="checkmark">
                    {% if est_gaz_sous_pression %}
                        {{ FDSForm.gaz(size=auto, id="gaz", value="6", checked=True) }}
                    {% else %}
                        {{ FDSForm.gaz(size=auto, id="gaz", value="6") }}
                    {% endif %}
                    <label for="gaz">
                        <img class="pictogramme" src="{{ url_for('static',filename='./images/FDS/gaz.png') }}" alt="pictogramme">
                        <p>gaz sous pression</p>
                    </label>
                </div>
                <div class="checkmark">
                    {% if est_corrosif %}
                        {{ FDSForm.corrosif(size=auto, id="corrosif", value="7", checked=True) }}
                    {% else %}
                        {{ FDSForm.corrosif(size=auto, id="corrosif", value="7") }}
                    {% endif %}
                    <label for="corrosif">
                        <img class="pictogramme" src="{{ url_for('static',filename='./images/FDS/corrosif.png') }}" alt="pictogramme">
                        <p>corrosion</p>
                    </label>
                </div>
                <div class="checkmark">
                    {% if est_dangereux %}
                        {{ FDSForm.environnement(size=auto, id="environnement", value="8", checked=True) }}
                    {% else %}
                        {{ FDSForm.environnement(size=auto, id="environnement", value="8") }}
                    {% endif %}
                    <label for="environnement">
                        <img class="pictogramme" src="{{ url_for('static',filename='./images/FDS/environnement.png') }}" alt="pictogramme">
                        <p>toxicité aquatique</p>
                    </label>
                </div>
                <div class="checkmark">
                    {% if estToxique %}
                        {{ FDSForm.toxique(size=auto, id="toxique", value="9", checked=True) }}
                    {% else %}
                        {{ FDSForm.toxique(size=auto, id="toxique", value="9") }}
                    {% endif %}
                    <label for="toxique">
                        <img class="pictogramme" src="{{ url_for('static',filename='./images/FDS/toxique.png') }}" alt="pictogramme">
                        <p>toxicité aiguë</p>
                    </label>
                </div>
        </div>

        <div class="right-side-info">
            <div class="user-box">
                <label for="caracteristiques">caractéristiques</label>
                <div>{{ AjouterMaterielForm.caracteristiques(size=50, class_="form-control text-area") }}</div>
            </div>
            <div class="user-box">
                <label for="infossup">informations complémentaires</label>
                <div>{{ AjouterMaterielForm.infossup(size=50, class_="form-control text-area") }}</div>
            </div>
            <!--modifier une façon d'uploader une fds ???-->
            <div class="valid-container">
                <input type="submit" value="MODIFIER MATERIEL" class="element submit">
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const domaineSelect = document.getElementById("domaine");
        const categorieSelect = document.getElementById("categorie");

        domaineSelect.addEventListener("change", function() {
            const selectedDomaine = domaineSelect.value;
            fetch(`/get_categorie_choices?domaine_id=${selectedDomaine}`)
                .then(response => response.json())
                .then(data => {
                    categorieSelect.innerHTML = '';
                    for (const [key, value] of Object.entries(data)) {
                        const option = document.createElement("option");
                        option.value = key;
                        option.text = value;
                        categorieSelect.appendChild(option);
                    }
                })
                .catch(error => console.error(error));
        });
    });
</script>
{% endblock %}