{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/consulterUtilisateur.css') }}">
{% endblock %}
{% block content %}
<div class="utilisateur-container-overall">
    <div class="header-container">
        <a href="{{ url_for('utilisateurs') }}"><button id="btn-retour">retour</button></a>
            <form method="POST" action="{{ url_for('recherche_utilisateur') }}" role="search">
                <div class="search-content">
                    {{ RechercherFrom.hidden_tag() }}
                    {{ RechercherFrom.value(size=50, class_="form-control element", placeholder="Chercher un utilisateur") }}
                    <button id="btn-search" type="submit">Rechercher</button>
                </div>
            </form>
        <div class="filter-container">
            <p>trier par : </p>
            <form id="formulaire-comboBox" action="{{ url_for('consulter_utilisateur') }}" method="post">
                <select name="cat" id="categorie-select" class="{{ nbUser }}">
                    {% for categorie in categories %}
                        <option value="{{ categorie }}" name="{{ categorie }}">{{ categorie }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    <div class="container-info-utilisateur">
        {% for utilisateur in utilisateurs %}
            <section id="{{ utilisateur[1] }}" class="sous-container-info-utilisateur">
                <p>{{ utilisateur[2] }} {{ utilisateur[3] }}</p>
                <a href="{{ url_for('modifier_utilisateur', id=utilisateur[0]) }}"><button>modifier</button></a>
            </section>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="../static/js/comboBox.js"></script>
{% endblock %}
