a {
    text-decoration: none;
}

p {
    color: white;
    font-size: 35px;
    margin: 15px 0;
}

#btn-back {
    color: white;
    background-color: #384274;
    padding: 14px 40px;
    border-radius: 25px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    margin: 10vh 10vw;
}

#btn-back:hover {
    color: white;
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.element {
    border: 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    color: #384274;
    width: 100%;
}

.ajouterRangement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

.form-ajoutRangement {
    background-color: #384274;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
.emplacement-select {
    color: #384274;
    background-color: #fff;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Alumni Sans', sans-serif;
}

.submit {
    color: #384274;
    background-color: white;
    padding: 14px 20px;
    border-radius: 20px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    text-align: center;
    margin-top: 5%;
}

.submit:hover {
    color: white;
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

