p,
label {
    color: var(--text);
    font-size: 35px;
    margin: 15px 0;
}

#btn-back {
    margin-left: 10vw;
    color: white;
    background-color: var(--background);
    padding: 10px 20px;
    font-size: 35px;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
}

#btn-back:hover {
    color: white;
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.header-container {
    margin: 5vh 10vw;
}

.search-content {
    display: flex;
    flex-direction: column;
}

.filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#search-bar {
    flex-basis: 80%;
    width: calc(100% - 60px);
    height: 50px;
    border: none;
    padding: 10px 30px;
    font-size: 25px;
    margin-bottom: 10px;
}

#btn-search {
    flex-basis: 20%;
    max-height: 50px;
    color: var(--background);
    background-color: var(--text);
    padding: 10px 0px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
}

#btn-search:hover {
    background-color: var(--secondary);
    color: var(--text);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.ajouterMateriel-container {
    margin: 2% 10vw;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 100;
    display: none;
}



.popup #ez-search-form {
    max-width: 800px;
    width: 100%;
    padding: 30px;
    background-color: var(--background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.header-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
}

.header-popup > p {
    margin: 0;
    font-size: 50px;
    color: var(--text);
}

.popup #popup-exit {
    padding: 10px;
}

.popup #popup-exit:hover {
    cursor: pointer;
}

.popup.open{
    display: block;
}

.user-box > #ez-search {
    display: flex;
    align-items: center;
    gap: 20px;
}

#submit-ez-search {
    color: var(--background);
    background-color: white;
    padding: 14px 20px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    text-align: center;
    border-radius: 10px;
}

#submit-ez-search:hover {
    color: white;
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}


.ajouterMateriel-content {
    background-color: var(--background);
    min-width: 80%;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-top: 3%;
}

.left-side-info {
    width: 50%;
}

.right-side-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.domaine-container,
.categorie-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dom-select, 
.cat-select {
    color: var(--background);
    background-color: var(--text);
    font-size: 25px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Alumni Sans', sans-serif;

}

.element {
    border: 0;
    padding: 10px;
    font-size: 25px;
    color: var(--background);
    width: 175px;
}

.pair-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.pair-info > div:nth-of-type(1) {
    width: 250px;
}

.text-area {
    width: calc(100% - 20px);
    height: 100%;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
    font-size: 25px;
    font-family: 'Alumni Sans', sans-serif;
}

.valid-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.submit {
    color: var(--background);
    background-color: var(--text);
    padding: 14px 20px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    text-align: center;
    margin-top: 30px;
}

.submit:hover {
    color: var(--text);
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .pair-info {
        flex-direction: column;
    }
    .text-area {
        height: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .form-ajoutMateriel {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .pair-info {
        flex-direction: row;
    }
}

@media screen and (max-width: 650px) {
    .pair-info {
        flex-direction: column;
    }
    .user-box > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .pair-info > div > p {
        text-align: center;
    }
}