#btn-consulter {
    color: #384274;
    font-variant: small-caps;
    transition: 0.2s;
    font-size: 20px;
}

#btn-consulter:hover {
    color: #384274;
    transition: 0.2s;
    font-size: 21px;
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main > section {
    border-radius: 1em;
    width: 50%;
    border: solid #384274 2px;
    margin: 1em 0 2em 0;
    padding: 1%;
}

.container-alerte {
    display: flex;
    justify-content: space-between;
}

#info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.texte_rouge {
    color: #d35252;
    align-items: center;
}

.texte_bleu {
    font-weight: bold;
    color: #384274;
    padding-right: 1em;
}

#attention-rouge {
    max-width: 50px;
    max-height: 50px;
}

p {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}