body {
    padding: 0;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Alumni Sans', sans-serif;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 30px;
}

button {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
}

input {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
}

a {
    text-decoration: none;
    /* font-size: 25px; */
}

ul {
    list-style-type: none;
}

header {
    position: relative;
    margin-bottom: 0.5em;
}

:root {
    --text: white;
    --background: #384274;
    --background-hover: #0e1b60;
    --dark-background: #262e58;
    --border: #384274;
    --secondary: #009AF0;
    --shadow: 0 0 10px #384274;
}

/* titre */

.title {
    color: #111;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
}


.title span {
    font-size: 50px;
}


/* barre de navigation */

.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; 
    background-color: #009AF0;
    padding: 0 10px;
}

.nav ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.nav li {
    padding: 0 10px;
}

.nav ul a {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    font-size: 30px;
}

.nav ul a:hover {
    border-bottom: 2px solid white;
    transition: 0.2s;
}

.active {
    color: white;
}

.nav a img {
    height: 100px;
    transition: .5s;
}

.nav img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.profil {
    border: 0 !important;
}

.profil:hover {
    border: 0 !important;
}

.profil img {
    max-width: 50px;
    max-height: 50px;
    padding-top: 8px;
}

/* fil d'ariane */

#fil-ariane {
    display: flex; 
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px;
}

#fil-ariane li {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#fil-ariane img  {
    margin-top: 5px;
    max-width: 13px;
    max-height: 13px;
}

#fil-ariane a {
    color: #384274;
    transition: 0.2s;
}

#fil-ariane a:hover {
    color: #009AF0;
    transition: all 0.2s;
    text-decoration: underline;
}

/* footer */

.footer-haut {
    background-color: #384274;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1% 3%;
    justify-content: space-between;
    color: #fff;
}

.footer-haut > * {
    padding: 3%;
}

.footer-haut a {
    margin: 0;
    padding: 0;
    color: #fff;
    transition: 0.2s;
}

.footer-haut a:hover {
    margin: 0;
    padding: 0;
    color: #009AF0;
}

.footer-haut h4 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.footer-haut ul {
    padding: 0;
    margin-left: 20px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

#republique_francaise_banner, 
#academie_orleans_tours {
    max-width: 150px;
    height: auto;
}

.utilitaires {
    display: flex;
    flex-direction: column;
}

.workers {
    display: flex;
    flex-direction: column;
}

.plan-du-site ul, 
.utilitaires ul, 
.workers ul {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.footer-bas {
    background-color: rgb(59, 59, 59);
}

.footer-bas p {
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.logo-academie {
    max-width: 200px;
    margin: 0 10px;
}

@media screen and (max-width: 741px) {
    .footer-haut {
        gap: 30px;
    }
}

/* fleche pour remonter en haut */

.fleche_haut {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

.fleche_haut img {
    width: 40px;
    cursor: pointer;
}
