html {
    overflow: auto;
}

html.scroll-lock {
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--main-background);
    font-family: 'Alumni Sans', sans-serif;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 30px;
}

button {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
}

input,
select,
textarea {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    /* font-size: 25px; */
}

ul {
    list-style-type: none;
}

header {
    position: relative;
    margin-bottom: 0.5em;
}

:root {
    --text: white;
    --main-background: #e0e0e0;
    --background: #384274;
    --background-hover: #0e1b60;
    --dark-background: #262e58;
    --border: #384274;
    --secondary: #009AF0;
    --shadow: #384274;
    --secondary-button: rgb(164,164,164);
    --success: #2EDD94;
    --error: #d35252;
    --title: #111;
}


.theme>.logo {
	display: flex;
	justify-content: space-between;
	padding: 3px;
}

.theme>.cercle {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	margin: -2px;
	border-radius: 100%;
	background: radial-gradient(farthest-corner at 6px 0px, #09c, #c90);
	box-shadow: 0 2px 2px #222;
	transition: 0.2s;
	transition-timing-function: cubic-bezier(0.67, 1.75, 0.76, 0.92);
}
.dark .theme>.cercle {
	transform: translateX(26px);
}

/* titre */

.title {
    color: var(--title);
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
}


.title span {
    font-size: 50px;
}


/* barre de navigation */

.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--secondary);
    padding: 0 10px;
}

.nav ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.nav li {
    padding: 0 10px;
}

.nav ul a {
    text-decoration: none;
    color: var(--text);
    border-bottom: 2px solid transparent;
    font-size: 30px;
}

.nav ul a:hover {
    border-bottom: 2px solid var(--text);
    transition: 0.2s;
}

.active {
    color: var(--text);
}

.nav a img {
    height: 100px;
    transition: .5s;
}

.nav img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.profil {
    border: 0 !important;
}

.profil:hover {
    border: 0 !important;
}

.profil img {
    max-width: 50px;
    max-height: 50px;
    padding-top: 8px;
}

/* fil d'ariane */

#fil-ariane {
    display: flex; 
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px;
}

#fil-ariane li {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#fil-ariane img  {
    margin-top: 5px;
    max-width: 13px;
    max-height: 13px;
}

#fil-ariane a {
    color: var(--background);
    transition: 0.2s;
}

#fil-ariane a:hover {
    color: var(--secondary);
    transition: all 0.2s;
    text-decoration: underline;
}

/* footer */

.footer-haut {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1% 3%;
    justify-content: space-between;
    color: var(--text);
}

.footer-haut > * {
    padding: 3%;
}

.footer-haut a {
    margin: 0;
    padding: 0;
    color: var(--text);
    transition: 0.2s;
}

.footer-haut a:hover {
    margin: 0;
    padding: 0;
    color: var(--secondary);
}

.footer-haut h4 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.footer-haut ul {
    padding: 0;
    margin-left: 20px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--text);
}

#republique_francaise_banner, 
#academie_orleans_tours {
    max-width: 150px;
    height: auto;
}

.utilitaires {
    display: flex;
    flex-direction: column;
}

.workers {
    display: flex;
    flex-direction: column;
}

.plan-du-site ul, 
.utilitaires ul, 
.workers ul {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.footer-bas {
    background-color: rgb(59, 59, 59);
}

.footer-bas p {
    color: var(--text);
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.logo-academie {
    max-width: 200px;
    margin: 0 10px;
}

@media screen and (max-width: 741px) {
    .footer-haut {
        gap: 30px;
    }
}

/* fleche pour remonter en haut */

.fleche_haut {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

.fleche_haut img {
    width: 40px;
    cursor: pointer;
}
