.header {
    margin-bottom: 1em !important;
}

a {
    text-decoration: none;
}

.commander-container-overall {
    margin: 10vh 5vw;
}

.header-container {
    margin: 5vh 10vw;
}

.search-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#search-bar {
    flex-basis: 80%;
    width: calc(100% - 60px);
    height: 50px;
    border-radius: 20px;
    border: none;
    padding: 0 30px;
    font-size: 20px;
    margin-bottom: 10px;
}

#btn-search {
    flex-basis: 20%;
    max-height: 50px;
    color: var(--text);
    background-color: var(--background);
    padding: 0px 0px;
    border-radius: 20px;
    border: none;
    transition: 0.2s;
}

#btn-search:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

#btn-retour {
    color: var(--text);
    background-color: var(--background);
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 20px;
    border: none;
    transition: 0.2s;
}

#btn-retour:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.filter-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 25px;
    align-items: center;
}

.filter-container > p {
    color: var(--background);
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#categorie-select {
    color: var(--text);
    background-color: var(--background);
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 60px;
    border: none;
}

#categorie-select {
    cursor: pointer;
    padding: 10px 60px;
}

/* valider/pdf */

.container-valider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#btn-pdf {
    color: var(--text);
    background-color: var(--secondary);
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 20px;
    border: none;
    transition: 0.2s;
}

#btn-pdf:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

#btn-valider {
    color: var(--text);
    background-color: var(--background);
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 20px;
    border: none;
    transition: 0.2s;
}

#btn-valider:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.bouton-moins {
    margin-left: 1em;
    margin-right: 5px;
    color: var(--text);
    background-color: var(--background);
    border: none;
}

.bouton-plus {
    margin-left: 5px;
    color: var(--text);
    background-color: var(--background);
    border: none;
}

.container-qte {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.container-qte p {
    margin: 0;
    padding: 0;
    color: var(--text);
}

/* item */

.section-contenu {
    margin: 3% 30vw 3% 30vw;
    padding: 1em;
    background-color: var(--background);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.texte_blanc {
    margin: 0;
    color: var(--text);
}

#btn-back {
    margin-left: 10vw;
    color: var(--text);
    background-color: var(--background);
    padding: 14px 40px;
    border-radius: 25px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
}

#btn-back:hover {
    color: var(--text);
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

#btn-voir {
    margin-right: 1%;
    background-color: var(--text);
    border-radius: 25px;
    padding: 14px 40px;
    transition: 0.2s;
    color: var(--background);
}

#btn-voir:hover {
    background-color: var(--text);
    box-shadow: 0 0 15px var(--text);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}


/* si ya r */

.p-rien {
    text-align: center;
    margin-top: 0.5em !important;
    margin: 3em;
    font-size: 40px;
}

#btn-retour-rien {
    margin-top: 0.5em;
    margin-left: 30vw;
    color: var(--text);
    background-color: var(--background);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    transition: 0.2s;
}

#btn-retour-rien:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}


/* popup */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 100;
    display: none;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text);
    background: var(--background);
    padding: 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
}

.btn-retour-popup {
    margin-right: 30px;
    color: var(--text);
    background-color: var(--secondary);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    transition: 0.2s;
}

.btn-retour-popup:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.container-pdf {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}