#container-objet {
    margin: 3% 30vw 3% 30vw;
    padding: 1em;
    background-color: #384274;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.texte_blanc {
    padding: 0 0 5% 0;
    margin: 0;
    color: white;
}

#btn-back {
    margin-left: 10vw;
    color: white;
    background-color: #384274;
    padding: 14px 40px;
    border-radius: 25px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
}

#btn-back:hover {
    color: white;
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

#btn-voir {
    margin-right: 1%;
    background-color: white;
    border-radius: 25px;
    padding: 14px 40px;
    transition: 0.2s;
}

#btn-voir:hover {
    background-color: white;
    box-shadow: 0 0 15px white;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}
