.header {
    margin-bottom: 1em !important;
}

a {
    text-decoration: none;
}

.commander-container-overall {
    margin: 10vh 5vw;
}

.header-container {
    margin: 5vh 10vw;
}

.search-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#search-bar {
    flex-basis: 80%;
    width: calc(100% - 60px);
    height: 50px;
    border-radius: 20px;
    border: none;
    padding: 0 30px;
    font-size: 20px;
    margin-bottom: 10px;
}

#btn-search {
    flex-basis: 20%;
    max-height: 50px;
    color: #fff;
    background-color: #384274;
    padding: 0px 0px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    transition: 0.2s;
}

#btn-search:hover {
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

#btn-retour {
    color: #fff;
    background-color: #384274;
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 20px;
    border: none;
    transition: 0.2s;
}

#btn-retour:hover {
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.filter-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 25px;
    align-items: center;
}

.filter-container > p {
    color: #384274;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#categorie-select {
    color: #fff;
    background-color: #384274;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 60px;
    border: none;
}

#categorie-select {
    cursor: pointer;
    padding: 10px 60px;
}

/* alertes / demandes */

.section-alertes img,
.section-demandes img {
    max-width: 50px;
    max-height: 50px;
}

.container-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.container-alertes-demandes {
    flex-basis: 65%;
}

.section-alertes {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.section-alertes a {
    text-decoration: underline;
    color: #384274;
    font-size: 35px;
}

.section-alertes p {
    margin: 0;
    font-size: 35px;
    color: #D35252;
    text-align: center;
}

.section-demandes {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.section-demandes a {
    text-decoration: underline;
    color: #384274;
    font-size: 35px;
}

.section-demandes p {
    margin: 0;
    font-size: 35px;
    color: #FFC700;
    text-align: center;
}

/* partie item */

.container-contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 40%;
    background-color: #384274;
    margin-bottom: 10px;
    border-radius: 10px;
}

.section-contenu h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    flex-basis: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.choisir-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.section-contenu button {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

#ajouter-commande {
    margin-bottom: 10px;
    color: #384274;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px 30px;
    transition: 0.2s;
}

#ajouter-commande:hover {
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    cursor: pointer;
    color: #fff;
}

.section-contenu p {
    color: #fff;
    font-size: 20px;
    margin: 0;
}