a {
    text-decoration: none;
}

p {
    margin: 0;
    font-weight: bold;
}

#btn-consulter {
    color: var(--background);
    font-variant: small-caps;
    transition: 0.2s;
    font-size: 30px;
}

#btn-consulter:hover {
    color: var(--background);
    transition: 0.2s;
    font-size: 31px;
    cursor: pointer;
}

main > section {
    margin: 50px 20vw;
    width: auto;
    border: solid var(--background) 1px;
    padding:  1%;
}

.container-demande {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    transition: .2s;
}

.container-demande:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .05);
    transition: .2s;
}

#info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.texte_orange {
    color: orange;
    align-items: center;
}

.texte_bleu {
    font-weight: bold;
    color: var(--background);
    padding-right: 1em;
}

#attention-orange{
    max-width: 50px;
    max-height: 50px;
}

#btn-back {
    color:var(--text);
    background-color: var(--background);
    padding: 10px 20px;
    font-size: 35px;
    border: none;
    transition: 0.2s;
    margin: 10vh 10vw;
    border-radius: 10px;
}

#btn-back:hover {
    color: var(--text);
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

#btn-consulter {
    color: var(--background);
    font-variant: small-caps;
    transition: 0.2s;
    font-size: 30px;
}

#btn-consulter:hover {
    color: var(--background);
    transition: 0.2s;
    font-size: 31px;
    cursor: pointer;
}