a {
    text-decoration: none;
    color: #384274;
}

.container-objet {
    margin: 3% 30vw 3% 30vw;
    padding: 1em;
    background-color: #384274;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 35px;
}

.btns-objet {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-bouton-top {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-back {
    color: white;
    background-color: #384274;
    padding: 14px 40px;
    border-radius: 25px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
}

#btn-back:hover {
    color: white;
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

#btn-tout-commander {
    color: #fff;
    background-color: #384274;
    border-radius: 25px;
    padding: 14px 40px;
    transition: 0.2s;
    font-size: 25px;
    text-align: center;
}

#btn-tout-commander:hover {
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

#btn-voir {
    background-color: white;
    border-radius: 25px;
    padding: 14px 40px;
    transition: 0.2s;
    text-align: center;
}

#btn-voir:hover {
    background-color: white;
    box-shadow: 0 0 15px white;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .container-objet {
        flex-direction: column;
    }
}