.header {
    margin-bottom: 1em !important;
}

a {
    text-decoration: none;
}

/* .demander-container-overall {
    margin: 2% 5vw;
} */

.header-container {
    margin: 5vh 10vw 0 10vw;
}

.container-top {
    margin: 0 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#btns-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

#btns-container #submit-demande {
    color: var(--text);
    background-color: var(--background);
    padding: 14px 40px;
    border-radius: 10px;
    font-size: 30px;
    text-decoration: none;
    transition: 0.2s;
}

#btns-container #submit-demande:hover {
    color: var(--text);
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.secondary-btn {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-button);
    transition: .2s;
}

.secondary-btn:hover {
    cursor: pointer;
    color: var(--background);
    transition: .2s;
}

.secondary-btn svg {
    fill: var(--secondary-button);
    transition: .2s;
}

.secondary-btn:hover svg {
    fill: var(--background);
    transition: .2s;
}

#last-child {
    padding: 0 40px 0 20px;
    border-right: var(--secondary-button) 1px solid;
    transition: .2s;
}

#last-child:hover {
    color: var(--error);
    transition: .2s;
}

#last-child:hover svg {
    fill: var(--error);
    transition: .2s;
}

.secondary-btn p {
    margin: 0;
    padding: 0;
}

.search-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#search-bar {
    flex-basis: 80%;
    width: calc(100% - 60px);
    height: 50px;
    border: none;
    padding: 0 30px;
    font-size: 25px;
    margin-bottom: 10px;
}

#btn-search {
    flex-basis: 20%;
    max-height: 50px;
    color: #fff;
    background-color: #384274;
    padding: 0px 0px;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

#btn-search:hover {
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

#btn-back {
    color: var(--text);
    background-color: var(--background);
    padding: 10px 20px;
    font-size: 35px;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
}

#btn-back:hover {
    color: var(--text);
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-sous-container > p {
    color: #384274;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.filter-sous-container {
    display: flex;
    gap: 25px;
    align-items: center;
}

#domaine-select {
    color: #fff;
    background-color: #384274;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 60px;
    border: none;
}

#domaine-select {
    cursor: pointer;
    padding: 10px 60px;
}

/* partie item */

h2 {
    margin: 25px 10vw;
    color: var(--background);
    font-size: 50px;
    padding: 0;
}

.container-contenu {
    margin: 0 10vw 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.section-contenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 45%;
    background-color: #384274;
    border-radius: 5px;
    padding: 1%;
}

.section-contenu .header-props {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.desc-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.desc-button svg {
    fill: var(--text);
    transition: .2s;
}

.desc-button h3 {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-size: 35px;
    transition: .2s;
}

.desc-button:hover svg {
    fill: var(--secondary);
    transition: .2s;
    cursor: pointer;
}

.desc-button:hover h3 {
    color: var(--secondary);
    transition: .2s;
    cursor: pointer;
}


.section-contenu h3 {
    margin: 0;
    padding: 0;
    color: var(--text);
}

.section-contenu h4 {
    margin: 0;
    color: var(--secondary-button);
    background-color: var(--background-hover);
    padding: 0 20px;
    border-radius: 100px;
}

.choisir-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    border: 1px solid var(--text);
    border-radius: 10px;
    background-color: var(--background);
}

.bouton-moins,
.bouton-plus {
    color: var(--text);
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.2s;
}

.bouton-moins:hover,
.bouton-plus:hover {
    transition: 0.2s;
    cursor: pointer;
    scale: 1.5;
}

.section-contenu #tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

#ajouter-demande {
    margin-bottom: 10px;
    color: var(--background);
    background-color: var(--text);
    border-radius: 10px;
    padding: 8px 30px;
    transition: 0.2s;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

#ajouter-demande:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    cursor: pointer;
    color: var(--text);
}

.section-contenu p {
    color: var(--text);
    font-size: 30px;
    margin: 0;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 100;
    display: none;
}

.popup .popup-content {
    max-width: 800px;
    width: 100%;
    padding: 30px;
    background-color: var(--background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.popup #delete-confirm {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background-color: var(--background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
}

.header-popup > p {
    margin: 0;
    font-size: 50px;
    color: var(--text);
}

.popup #choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup #choices > a:first-child {
    color: var(--text);
    background-color: var(--secondary);
    padding: 14px 40px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
}

.popup #choices > a:first-child:hover {
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    cursor: pointer;
}

.popup #choices > a:last-child {
    color: var(--text);
    background-color: var(--error);
    padding: 14px 40px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
}

.popup #choices > a:last-child:hover {
    box-shadow: 0 0 15px var(--error);
    transition: .2s;
}

.popup #popup-exit {
    padding: 10px;
}

.popup #popup-exit:hover {
    cursor: pointer;
}

.popup.open{
    display: block;
}

.popup-content p {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-size: 40px;
}

.info {
    margin-top: 50px;
    position: relative;
}

.popup-content .info p:first-child {
    position: absolute;
    top: -25px;
    left: 20px;
    background-color: var(--background);
    padding: 0 10px;
    color: var(--secondary);
}

.popup-content .info p:last-child {
    top: 20px;
    padding: 20px;
    border: 1px solid var(--text);
}