.header {
    margin-bottom: 1em !important;
}

a {
    text-decoration: none;
}

.demander-container-overall {
    margin: 2% 5vw;
}

.header-container {
    margin: 5vh 10vw 0 10vw;
}

.container-top {
    margin: 0 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#search-bar {
    flex-basis: 80%;
    width: calc(100% - 60px);
    height: 50px;
    border-radius: 20px;
    border: none;
    padding: 0 30px;
    font-size: 20px;
    margin-bottom: 10px;
}

#btn-search {
    flex-basis: 20%;
    max-height: 50px;
    color: #fff;
    background-color: #384274;
    padding: 0px 0px;
    border-radius: 20px;
    border: none;
    transition: 0.2s;
}

#btn-search:hover {
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

#btn-back {
    color: white;
    background-color: #384274;
    padding: 14px 40px;
    border-radius: 25px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
}

#btn-back:hover {
    color: white;
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

#btns {
    color: white;
    background-color: #384274;
    padding: 14px 40px;
    border-radius: 25px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
}

#btns:hover {
    color: white;
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-sous-container > p {
    color: #384274;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.filter-sous-container {
    display: flex;
    gap: 25px;
    align-items: center;
}

#domaine-select {
    color: #fff;
    background-color: #384274;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 60px;
    border: none;
}

#domaine-select {
    cursor: pointer;
    padding: 10px 60px;
}

.container-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.bouton-moins {
    margin-left: 1em;
    margin-right: 5px;
    color: #fff;
    background-color: #384274;
    border: none;
}

.bouton-plus {
    margin-left: 5px;
    color: #fff;
    background-color: #384274;
    border: none;
}


.ajouter-materiel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}

/* partie item */

.container-contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 40%;
    background-color: #384274;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1%;
}

.top-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#delete-suggestion-button {
    transition: .2s;
    scale: 1;
    display: flex;
    align-items: center;
}

#delete-suggestion-button:hover {
    transform: rotate(90deg);
    transition: .2s;
    cursor: pointer;
}

#croix {
    width: 30px;
    height: 30px;
}

.section-contenu h3 {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    flex-basis: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.section-contenu h4 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    flex-basis: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.choisir-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.section-contenu button {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.section-contenu .bottom-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#ajouter-demande {
    margin-bottom: 10px;
    color: #384274;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px 30px;
    transition: 0.2s;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

#ajouter-demande:hover {
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    cursor: pointer;
    color: #fff;
}

.section-contenu p {
    color: #fff;
    font-size: 30px;
    margin: 0;
}