p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#btn-back {
    margin-left: 10vw;
    color: white;
    background-color: #384274;
    padding: 14px 40px;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    transition: 0.2s;
}

#btn-back:hover {
    color: white;
    background-color: #009af0;
    box-shadow: 0 0 15px #009af0;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}
.state-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 10vh 10vw 20vh 10vw;
}

.item-card {
    flex-basis: 40%;
    background-color: #384274;
    padding: 0;
    border-left: 15px solid #2EDD94;
}

.item-properties {
    padding: 5%;
}

.item-properties > h2 {
    font-size: 30px;
    margin: 0;
    color: white;
}

.quantite-container, .categorie-container, .domaine-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 30px;
}

.item-info {
    flex-basis: 60%;
}





