p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    align-items: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 100;
    display: none;
}

.header-popup {
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
}

.header-popup > p {
    margin: 0;
    font-size: 50px;
    color: var(--text);
}

.popup #delete-confirm {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background-color: var(--background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.popup #choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup #choices > a:first-child {
    color: var(--text);
    background-color: var(--secondary);
    padding: 14px 40px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
}

.popup #choices > a:first-child:hover {
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
}

.popup #choices > a:last-child {
    color: var(--text);
    background-color: var(--error);
    padding: 14px 40px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
}

.popup #choices > a:last-child:hover {
    box-shadow: 0 0 15px var(--error);
    transition: .2s;
}

.popup #popup-exit {
    padding: 10px;
}

.popup #popup-exit:hover {
    cursor: pointer;
}

.popup.open {
    display: block;
}

.header-buttons {
    margin-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.header-buttons > .btns-header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
}

.header-buttons #btn-delete {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-button);
    transition: .2s;
}

.header-buttons #btn-delete:hover {
    cursor: pointer;
    color: #d35252;
    transition: .2s;
}

svg {
    fill: var(--secondary-button);
    transition: .2s;
}

.header-buttons #btn-delete:hover > svg {
    fill: var(--error);
    transition: .2s;
}

.header-buttons #btn-edit-materiel {
    border-right: 1px solid var(--secondary-button);
    padding: 0 40px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-button);
    transition: .2s;
}

.header-buttons #btn-edit-materiel:hover {
    cursor: pointer;
    color: var(--background);
    transition: .2s;
}

.header-buttons #btn-edit-materiel:hover > svg {
    fill: var(--background);
    transition: .2s;
}

/* container */

.container-all {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    flex-wrap: nowrap;
    padding: 50px 10vw;
    gap: 50px;
}

.container-left {
    max-height: auto;
    background-color: var(--background);
    flex-basis: 60%;
    padding: 0 50px 20px 50px;
    box-shadow: 5px 10px 10px var(--background);
}

.container-left h2 {
    color: var(--text);
    font-size: 50px;
    margin: 20px 0;
    padding: 0;
}

.container-left > table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: var(--text);
}

.container-left > table > thead {
    border-bottom: 1px solid var(--text);
    padding-bottom: 50px;
}

.container-left > table > thead > tr {
    padding: 10px;
    text-align: left;
}

.container-middle {
    display: flex;
    align-items: center;
    flex-basis: 15%;
}

.container-right {
    overflow: auto;
    flex-grow: 1;
    max-height: 50vh;
    flex-basis: 40%;
    background-color: var(--background);
    box-shadow: 5px 10px 10px var(--background);
}

#btn-back {
    margin-left: 10vw;
    color: var(--text);
    background-color: var(--background);
    padding: 14px 40px;
    font-size: 35px;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
}

#btn-back:hover {
    color: var(--text);
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.text {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    color: var(--text);
}

.text p:first-child {
    font-weight: bold;
    border-bottom: 1px solid var(--text);
}

.risques-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.header-container {
    color: var(--text);
    display: flex;
    flex-direction: row-reverse;
    margin: 2% 0;
    justify-content: space-between;
}

.header-container h2 {
    margin: 0;
    padding: 0;
}

.header-container a {
    display: flex;
    color: var(--success);
}

.generic-button {
    color: var(--text);
    background-color: var(--background);
    padding: 14px 40px;
    font-size: 30px;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
}

.generic-button:hover {
    color: var(--text);
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}


#report-redirect-img {
    width: 20px;    
    align-items: center;
}

.state-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 10% 0;
}

.item-card {
    background-color: var(--background-hover);
    min-width: 400px; 
}

.toggle-button-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 10px;
    color: var(--text);
    background-color: var(--background-hover);
    height: 50px;
}

.toggle-button-container:hover {
    cursor: pointer;
}

.toggle-button-container > button {
    display: flex;
    align-items: center;
    height: 100%;
    font-variant: small-caps;
    background-color: var(--background-hover);
    color: var(--text);
    border: none;
}

.toggle-button-container > button > img {
    transform: rotate(0deg);
    transition: .5s;
}

.toggle-button-container > button > img.rotate {
    transform: rotate(180deg);
    transition: .5s;
}

.date-reception-toggle {
    display: block;
}

.date-reception-toggle.hidden {
    display: none;
}

.item-card-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2px;
}

.item-card-toggle > .date-reception-content {
    color: var(--text);
}

.item-properties {
    padding: 5%;
}

.item-properties > h2 {
    font-size: 30px;
    margin: 0;
    color: var(--text);
}

.date-reception, 
.date-peremption, 
.quantite-container, 
.categorie-container, 
.domaine-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text);
    font-size: 30px;
}

.comment-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text);
    font-size: 30px;
}

.comment-container > .comment-label {
    text-decoration: underline;
}

.date-reception-content, 
.date-peremption-content, 
.quantite-content, 
.categorie-content, 
.domaine-content {
    font-weight: bold;
}

.footer-state {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.alerts-state {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#attention-rouge{
    max-width: 50px;
    max-height: 50px;
}

.alerts-statement {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.alerts_count{
    color: var(--error);
    align-items: center;
    margin: 0;
}

.texte_rouge{
    color: var(--error);
    align-items: center;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#btn-redirect-order {
    color: var(--background);
    background-color: var(--text);
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
}

#btn-redirect-order:hover {
    background-color: var(--text);
    box-shadow: 0 0 15px var(--text);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .hard-recap-item > .text {
        flex-direction: column;
    }
}

