#btn-back {
    color: var(--text);
    background-color: var(--background);
    padding: 10px 20px;
    font-size: 35px;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
    margin: 0 10vw;
}

#btn-back:hover {
    color: var(--text);
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.historiques-bons-container {
    border-radius: 10px;
    margin: 50px 10vw;
    min-height: 50dvh;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

thead tr {
    color: var(--background);
    font-size: 40px;
    border-bottom: 1px solid var(--background);
}

tbody tr {
    cursor: pointer;
    transition: .2s;
    z-index: 1;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, .05);
    transition: .2s;
}

tbody td:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 55px;
}

#statut {
    color: var(--text);
    background-color: var(--background);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 25px;
    padding: 10px 60px;
    border: none;
    z-index: 99;
}

#statut {
    cursor: pointer;
    padding: 10px 60px;
}

.bons-container p {
    margin: 0;
    padding: 0;
}

.suppr-bon-container {
    display: flex;
    align-items: center;
}

.suppr-bon-container p {
    color: var(--secondary-button);
    font-size: 25px;
    margin: 0;
    padding: 0;
    transition: .2s;
}

.suppr-bon-container svg {
    fill: var(--secondary-button);
    transition: .2s;
}

.suppr-bon-container:hover p {
    color: var(--error);
    transition: .2s;
}

.suppr-bon-container:hover svg {
    fill: var(--error);
    transition: .2s;
}