/*  sous titre si l'utilisateur est connecter */

main {
    margin: 7vh 0;
}

.sous-title {
    text-align: center;
    font-size: 50px;
    margin: 20px 0;
    font-weight: 300;
    flex-basis: 100%;
}

/*  bouton se connecter */

a {
    text-decoration: none;
}

#container-bouton-connexion {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-decoration: none;
}

#btn-connexion {
    padding: 10px 20px;  
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    transition: .5s;
    background-color: #009af0;
    border-radius: 50px;
    border: 0;
}

#btn-connexion:hover {
    background-color: #2c45d3;
    box-shadow: 0 0 15px #2c45d3;
transform: scale(1.1);
    transition: 0.2s;
}

/* main */

.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.container-main img {
    max-width: 50px;
    max-height: 50px;
}

.section-alertes {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-basis: 50%;
    justify-content: center;
    gap: 12px;
}

.section-alertes a {
    text-decoration: underline;
    color: #384274;
    font-size: 35px;
}

.section-alertes p {
    font-size: 35px;
    color: #D35252;
    text-align: center;
}

.section-demandes {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-basis: 50%;
    justify-content: center;
    gap: 12px;
}

.section-demandes a {
    text-decoration: underline;
    color: #384274;
    font-size: 35px;
}

.section-demandes p {
    font-size: 35px;
    color: #FFC700;
    text-align: center;
}

/* carte de lien */

.carte-lien {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    justify-content: center;
    margin-top: 2em;
    background-color: #384274;
    width: 250px;
    height: 300px;
}

 .carte-lien h2 {
    margin-top: 0%;
    margin-bottom: 0%;
}

.carte-lien p {
    margin-top: 0%;
    margin-bottom: 0%;
} 

.carte-lien h2, .carte-lien p {
    color: #fff;
} 

/* footer */
footer{
    margin-top: 3em;
}