#fichier{
    width: 700px;
    font-size: 25px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--background);
    color: var(--text);
    transition: 0.2s;
}

.form-check-input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.form-check-input label {
    user-select: none;
    padding: 5px 30px;
    transition: .2s;
}

.form-check-input label:hover {
    background-color: var(--secondary);
    cursor: pointer;
    transition: .2s;
}

.form-check-input input {
    display: none;
}

.form-check-input input:checked + label {
    background-color: var(--secondary);
    transition: .2s;
}

.form-check-input li {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    margin: 10px;
    font-size: 25px;
    color: var(--text);

}

.user-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

p , label{
    color: var(--text);
    font-size: 35px;
    margin: 10px 0;
}

.titre-container {
    flex-basis: 100%;
    text-align: center;
    font-size: 60px;
}

#btn-back, #checkAllButton, #uncheckAllButton {
    margin-left: 10vw;
    color: var(--text);
    background-color: var(--background);
    padding: 10px 20px;
    font-size: 35px;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
}

#btn-back:hover, #checkAllButton:hover, #uncheckAllButton:hover {
    color: var(--text);
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.ajouterMateriel-container {
    display: flex;
    justify-content: center;
    margin: 50px 0 100px;
}

.form-importCsv {
    background-color: var(--background);
    border-radius: 10px;
    padding: 3%;
    box-shadow: 5px 10px 10px var(--background);
}

.user-box div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-box input[type='file'] {
    display: flex;
}

.form-importCsv div:last-child {
    display: flex;
    justify-content: flex-end;
}

.form-importCsv div:last-child input {
    color: var(--background);
    background-color: var(--text);
    padding: 15px 40px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
}

.form-importCsv > div:last-child input:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    color: var(--text);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}