a {
    text-decoration: none;
}

#btn-back {
    color: white;
    background-color: var(--background);
    padding: 14px 40px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    margin: 10vh 10vw;
}

#btn-back:hover {
    color: white;
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.btns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin: 2% 0;
}

.btns {
    color: white;
    background-color: var(--background);
    padding: 14px 40px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
}

.btns:hover {
    color: white;
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}


.inventaire-container-overall {
    margin: 5vh 5vw;
}

.header-container {
    margin: 5vh 10vw;
}

.search-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#search-bar {
    flex-basis: 80%;
    width: calc(100% - 60px);
    height: 50px;
    border: none;
    padding: 0 30px;
    font-size: 25px;
    margin-bottom: 10px;
}

#btn-search {
    flex-basis: 20%;
    max-height: 50px;
    color: var(--text);
    background-color: var(--background);
    padding: 0px 0px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
}

#btn-search:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.filter-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 25px;
    align-items: center;
}

.filter-container > p {
    color: var(--background);
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#domaine-select {
    color: #fff;
    background-color: var(--background);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 25px;
    padding: 10px 60px;
    border: none;
}

#domaine-select {
    cursor: pointer;
    padding: 10px 60px;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.item {
    width: 750px;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: var(--background);
    border-left: 15px #2EDD94 solid;
    box-shadow: 5px 10px 10px var(--background);
}

#img-item {
    flex-basis: 33%;
    object-fit: cover;
}

.item-properties {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 100%;
    padding: 1% 5%;
}

.item-properties > h2 {
    font-size: 30px;
    margin: 0;
    color: var(--text);
}

.quantity-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text);
    font-size: 25px;
}

.quantity-container > p {
    margin: 0;
}

.footer-properties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text);
    font-size: 25px;
}

#btn-redirect-item {
    color: var(--background);
    background-color: var(--text);
    padding: 14px 40px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
}

#btn-redirect-item:hover {
    background-color: var(--text);
    box-shadow: 0 0 15px var(--text);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.alerts-state {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#attention-rouge{
    max-width: 50px;
    max-height: 50px;
}

.alerts-statement {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.alerts_count{
    color: #d35252;
    align-items: center;
    margin: 0;
}

.texte_rouge{
    color: #d35252;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .filter-container {
        display: block;
    }
}

@media screen and (max-width: 680px) {
    .item {
        flex-direction: column;
    }
}