/* form */
#login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#login-box {
    margin: 2em 0 5em 0;
    width: 400px;
    padding: 40px;
    background: var(--secondary);
    box-shadow: 0 15px 25px var(--background);
    /* border-radius: 10px; */
    }

#login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: var(--text);
    text-align: center;
}

.erreur-login {
  color: var(--error);
  text-align: center;
  margin-top: 10px;
  font-size: 35px;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 30px;
  color: var(--text);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--text);
  outline: none;
  background: transparent;
}

.valid-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.valid-container input {
  padding: 10px 20px;  
  color: var(--text);
  font-size: 30px;
  text-decoration: none;
  transition: .5s;
  background-color: var(--background);
  border-radius: 5px;
  border: 0;
}

.valid-container input:hover {
  box-shadow: 0 0 15px var(--background);
  cursor: pointer;
}

.valid-container a {
  text-decoration: none;
  color: var(--text);
}

.valid-container a:hover {
  color: var(--background);
  transition: 0.2s;
}
  
/* changer le mdp */

#ChangerMDPForm {
  display: none;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#changerMDP-box {
  margin-bottom: 5em;
  width: 400px;
  padding: 40px;
  background: var(--secondary);
  box-shadow: 0 15px 25px var(--background);
  border-radius: 10px;
}

#changerMDP-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--text);
  text-align: center;
}

/* changer le mail */

#ChangerMailForm {
  display: none;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

#changerMail-box {
  margin-bottom: 5em;
  width: 400px;
  padding: 40px;
  background: var(--secondary);
  box-shadow: 0 15px 25px var(--background);
  border-radius: 10px;
}

#changerMail-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--text);
  text-align: center;
}

/* boutons et lien */

#text-acceuil {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  color: var(--title);
}

.container-control-profil {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 200px;
}

.a-lien {
  text-decoration: none;
  color: var(--text);
  background-color: var(--secondary);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 30px;
  transition: 0.2s;
}

.a-lien:hover {
  background-color: var(--background);
  box-shadow: 0 0 15px var(--background);
  transition: 0.2s;
  transform: scale(1.1);
  cursor: pointer;
}

#btn-changer-mdp {
  color: var(--text);
  background-color: var(--secondary);
  padding: 14px 20px;
  border-radius: 20px;
  font-size: 30px;
  border: none;
  transition: 0.2s;
}

#btn-changer-mdp:hover {
  background-color: var(--background);
  box-shadow: 0 0 15px var(--background);
  transition: 0.2s;
  transform: scale(1.1);
}

#btn-changer-mail {
  color: var(--text);
  background-color: var(--secondary);
  padding: 14px 20px;
  border-radius: 20px;
  font-size: 30px;
  border: none;
  transition: 0.2s;
}

#btn-changer-mail:hover {
  background-color: var(--background);
  box-shadow: 0 0 15px var(--background);
  transition: 0.2s;
  transform: scale(1.1);
}

#btn-back {
  display: none;
  margin-left: 10vw;
  color: white;
  background-color: var(--background);
  padding: 10px 20px;
  font-size: 35px;
  border: none;
  transition: 0.2s;
  border-radius: 10px;
  width: auto;
}

#btn-back:hover {
  background-color: var(--secondary);
  box-shadow: 0 0 15px var(--secondary);
  transition: 0.2s;
  transform: scale(1.1);
  cursor: pointer;
}

#btn-back img {
  max-width: 50px;
  max-height: 50px;
}



/* mdp oublier */

.container-mdp-oublier {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  z-index: 100;
}

#btn-mdp-oublier {
  background: none;
  border: none;
  color: var(--text);
  cursor: pointer;
  z-index: 100;
}

#mdp-container {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: none;
}

#mdp-box {
  margin-bottom: 5em;
  width: 600px;
  padding: 40px;
  background: var(--secondary);
  box-shadow: 0 15px 25px var(--background);
  border-radius: 10px;
  }

  .container-form-mdp {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #mdp-box h2 {
      margin: 0 0 30px;
      padding: 0;
      color: var(--text);
      text-align: center;
  }
  
#btn-back-mdp {
  margin-left: 10vw;
  color: white;
  background-color: var(--background);
  padding: 10px 20px;
  font-size: 35px;
  border: none;
  transition: 0.2s;
  border-radius: 10px;
}

#btn-back-mdp:hover {
  background-color: var(--secondary);
  box-shadow: 0 0 15px var(--secondary);
  transition: 0.2s;
  transform: scale(1.1);
  cursor: pointer;
}