p,
label {
    color: var(--text);
    font-size: 35px;
    cursor: pointer;
}

#btn-back {
    color: var(--text);
    background-color: var(--background);
    padding: 10px 20px;
    font-size: 35px;
    border: none;
    transition: 0.2s;
    border-radius: 10px;
    margin: 50px 10vw;
}

#btn-back:hover {
    color: var(--text);
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.modifierMateriel-container {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 5%;
    gap: 5vw;
    margin: 50px 10vw;
    border-radius: 10px;
    box-shadow: 5px 10px 10px var(--background);
}

.form-modifMateriel {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vw;
}

.left-side-info {
    /* width: 50%; */
}

.right-side-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 50%; */
}

.domaine-container,
.categorie-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dom-select, 
.cat-select {
    color: var(--background);
    background-color: var(--text);
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Alumni Sans', sans-serif;

}

.element {
    border: 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    color: var(--background);
}

.pair-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.text-area {
    width: calc(100% - 20px);
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
    font-size: 25px;
    font-family: 'Alumni Sans', sans-serif;
}

.valid-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.submit {
    color: var(--background);
    background-color: white;
    padding: 14px 20px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    margin-top: 30px;
    transition: 0.2s;
}

.submit:hover {
    color: var(--text);
    background-color: var(--secondary);
    box-shadow: 0 0 15px var(--secondary);
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .pair-info {
        flex-direction: column;
    }
    .text-area {
        height: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .form-ajoutMateriel {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .pair-info {
        flex-direction: row;
    }
}

@media screen and (max-width: 650px) {
    .pair-info {
        flex-direction: column;
    }
    .user-box > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .pair-info > div > p {
        text-align: center;
    }
}

/* pictogramme */

.fds {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    padding: 0 0 2%;
}

.fds-text {
    color: var(--text);
    font-size: 25px;
    margin: 2vh 0;
    cursor: pointer;
}

.checkmark {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkmark label {
    margin: 0;
    padding: 0;
    user-select: none;
    transition: .2s;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.checkmark label p {
    margin: 0;
    padding: 0;
}

.checkmark input {
    height: 30px;
    width: 30px;
    accent-color: var(--error);
    display: none;
}

.checkmark label:hover {
    background-color: var(--error);
}

.checkmark input:checked ~ label{
    background-color: var(--error);
    transition: .2s;
}

.checkmark div {
    display: flex;
    align-items: center;
}

.pictogramme {
    width: 30px;
    height: 30px;
    align-items: center;
}

.pictogramme {
    width: 30px;
    height: 30px;
}